[2022-03-02 00:58] clementchef opened #2953 "Cant zoom on plots while using live connection"
Cant zoom on plots while using live connection

![Peek 2022-03-01 12-35](https://user-images.githubusercontent.com/66749666/156274168-8479ccb3-f0a2-4cfe-9a83-31ed3cde9dcf.gif)

- Version: 1.1.0
- OS: Ubuntu 18.04

**Steps To Reproduce**
Plot something while in live connection mode.
Try to scroll, pan or zoom on graph always revert to default view.
Sync option in panel setting is off.

**Expected B

[2022-03-02 01:12] jtbandes commented on #2953
Seems related to #2701

[2022-03-02 01:47] SkyRoboticsLLC commented on #2950
Having the exact same problem. Thanks for raising this up.

[2022-03-02 14:51] #2884 closed

[2022-03-02 14:52] foxymiles opened #2956 "Plots from data platform span gaps"
**Description**
When plotting data from data platform plots are incorrectly connecting points across gaps in data.

- Version: 1.2.0
- OS: macOS

**Steps To Reproduce**

1. Open a file longer than 20 seconds from data platform into studio.
2. Plot some value.
3. Click at different points in the playback bar to load different data segments

**Expected Behavior**
Gaps in fetched data should not be c

[2022-03-02 16:00] foxymiles commented on #2953
@clementchef Can you please share more detail on your datasource? I'm not seeing this with a simple rosbridge data source.

[2022-03-02 18:15] foxymiles commented on #2950
Thanks very much for writing such a detailed bug report. It helps a lot.

I'm able to reproduce this here so I'll take a look.

[2022-03-03 01:43] #2956 closed

[2022-03-03 01:46] #2945 closed

[2022-03-03 03:16] youngzhichun commented on #2934
@jtbandes Hi, thank you so much for the quick response, and sharing those information!

Unfortunately due to data privacy, I cannot share a bag with you. But I can provide more details instead.

# How we get the Image msg written in the rosbag:

1. Raw video is in h264 format, and frameIdx: timestamp was originally recorded in a txt
2. We took the video, compress it with c++ opencv lib.
    - loop

[2022-03-03 03:46] #2949 closed

[2022-03-03 04:22] lanyusea commented on #2906
@rogue-shadowdancer found a fish-eye bag but didn't reproduce the warning message, will keep an eye on that.

but the replaying (from local disk) is surely lag and lagger than rviz. I do think it may be related to the file I/O method. @amacneil  will sent the bag to you later by email

[2022-03-03 04:55] amacneil opened #2964 "Changing plot legend from "top" to "left" makes it disappear"
**Description**
Exhibit A:

https://user-images.githubusercontent.com/637671/156498763-e56b223c-6919-42b6-8a6c-fec691618e37.mov

- Version: main
- OS: web

**Steps To Reproduce**
- Change plot legend from Floating to Top: Works as expected
- Change plot legend from Floating to Left: Works as expected
- Change plot legend from Left to Top: Works as expected
- Change plot legend from Top to Left: Pl

[2022-03-03 08:23] HugoFeng opened #2966 "2D/3D plot for trajectories"
ref: https://facontidavide.github.io/PlotJuggler/visualization_howto/index.html#display-a-xy-curve
Can we have the plot panel display not only "1D" data, but also 2D or 3D trajectories.
For example in Plotjuggler, if one drag "pos.x, pos.y" into the plot, the plot will use them as axis, while the playback will update the "dot" showing the position at the moment.
This is very usefull and a must to

[2022-03-03 15:12] defunctzombie commented on #2906
**tl;dr** I think we should remove this error.

I am working on a new bag player and have looked into where this message comes from. When we load bag files into studio, we also cache the messages into memory across the entire bag (well, as much as we can reasonably use the available memory). The caching logic uses a concept of "blocks" to store messages in chunks and tracks the memory use by each

[2022-03-03 15:57] #2948 closed

[2022-03-03 16:26] #2916 closed

[2022-03-03 16:27] amacneil commented on #2906
@lanyusea thanks I received the file

[2022-03-03 20:03] #2964 closed

[2022-03-04 04:15] #1675 closed

[2022-03-04 07:23] taiyuzhuo commented on #2894
I've uploaded a new bag above. the namespace is  road_laneInfos and the type is visualization_msgs::msg::Marker::TRIANGLE_LIST.
it cannot be shown in foxglove studio

[2022-03-04 07:38] jacqueline1990 opened #2971 "node playground error when connect to websocket serve"
Hello,  I connect to foxglove websocket server and use protobuf as channel protocol, and  use node playground to generate virtual message for visualization, but a lot of typescript mistakes have happened In the panel below，and i havent written any code in node playground
![1646295622143](https://user-images.githubusercontent.com/23656783/156525260-cc31847f-652d-4b4e-b506-c64f79ce84d5.jpg)
Is there

[2022-03-04 12:55] #2950 closed

[2022-03-04 23:41] jhurliman opened #2974 "Add dataType to MessageEvent in @foxglove/studio"
Incoming `MessageEvent`s: https://github.com/foxglove/studio/blob/1bfcfa924c7038050fcceb714d477921eb2e50d9/packages/studio/index.d.ts#L38-L43
Would be easier to dispatch to different handlers if they included a `dataType` field in addition to `topic`. Otherwise, I have to manage my own topic->dataType mapping.

[2022-03-04 23:59] defunctzombie commented on #2974
Yea - I agree - I got annoyed at this when I did the message normalization in Image and Log panel recently.

Kind of a duplicate of https://github.com/foxglove/studio/issues/1923

The way I handled it for now in the panels I needed to tie them together was to use the topics array of the `Topic` type and store that with the extension or panel. Then I used that to lookup the datatype. So it is possi

[2022-03-06 04:21] valschmidt opened #2977 "Ability to edit/save plot line parameters"
In an operational setting, where visibility of a plot is critical, one needs the ability to increase the width of the lines and size of points drawn in the plot windows. To some extent this is true of the plot labels, although one can usually fix the bounds and learn to interpret the plot quickly. We need to be able to see it clearly from a row of seats behind the robot operator sitting at the com

[2022-03-06 04:25] valschmidt opened #2978 "Showing Historical Data"
We like the feature that allows us to fix the time scale to the last X seconds. But we would like the size of the buffer of data available to display to be a separate value from the size of the plot, such that one could optionally interactively increase the time scale and look and pan back in time.

For example, we envision specifying a time buffer of several hours and by default displaying the la

[2022-03-06 04:29] valschmidt commented on #777
+1 for this one.

We have a tool, [bag_manager](https://github.com/CCOMJHC/bag_manager), which allows one to select start/stop times and topics to include/exclude from a collection of bag files and writes a new bag file from the result to work around this. But it would be nice if Foxglove could handle this natively - point to a directory rather than a file, index the whole thing, then let you inte

[2022-03-06 04:44] valschmidt opened #2979 "Audible Alarms/Warnings"
For operational robots, in addition to seeing time series and other plots of data, it is essential to have audible alarms that allow one to look away from the plots and focus on other things momentarily without fear of missing an emergency condition.

Consider, for example, the state of a bilge pump on a robotic boat, the engine coolant temperature or oil pressure from an engine, or the range to a

[2022-03-07 15:21] defunctzombie commented on #2854
@2metres Any update on this? Is there something blocking this from proceeding?

[2022-03-07 16:22] #1790 closed

[2022-03-07 17:02] DavidXenakis opened #2981 "Show indexed PointField values of PointCloud2 messages in the 3D panel's Selected Object panel"
When inspecting individual points for a PointCloud2 object in the 3D panel, it would be useful to see the indexed PointField values. Right now, the panel shows x, y, and z values, but it would be useful to see all of them. Currently, the other PointField values show up as an array, which is not useful. In the example below, I'd expect to see the "i" value associated with the individual point.

![E

[2022-03-07 18:27] jhurliman commented on #2894
@taiyuzhuo using the Raw Messages panel with the filter `/test_hd_map.markers[:]{ns=="road_laneInfos"}`, I see 57 markers with the namespace `"road_laneInfos"`. The first one (id 0) has type 11 (`TRIANGLE_LIST`), the rest appear to be type 4 (`LINE_STRIP`). All of the markers have a header.stamp of 0 (Jan 1st 1970) which is very far behind the beginning of the bag. But the unique difference with t

[2022-03-07 18:52] jtbandes commented on #2979
Tangentially related to #1538 (feature request for panel that can play audio data).

I wonder if this feature would actually make sense as a feature of the "Indicator" panel sketched out in #2003?

[2022-03-07 19:18] jtbandes commented on #2981
FWIW, webviz does have this feature:

<img width="286" alt="image" src="https://user-images.githubusercontent.com/14237/157102703-742792f2-fbd1-4963-a155-360fb01eea25.png">

[2022-03-07 19:44] jtbandes commented on #2978
To clarify, is this mostly about the Plot panel?

This could be a small adjustment to the settings provided by the Plot panel, or it could be satisfied by a larger project: https://github.com/foxglove/studio/issues/2769

[2022-03-07 19:48] jtbandes commented on #777
We might want to also think about what happens if the bags are not totally sequential but overlapping (such as if there were two separate bag recorders both using `--split`, and splitting at different times), and if there is some duplicate message data between bags (such as if two recorders both happened to record one or a handful of small 'core' or 'metadata' topics that users intentionally wante

[2022-03-07 19:52] jtbandes commented on #2966
You might be able to accomplish what you are describing using the custom x-axis settings described here: https://foxglove.dev/docs/studio/panels/plot

![image](https://user-images.githubusercontent.com/14237/157107737-97a60c3b-fcd5-4afe-840e-d2921346ac4e.png)

[2022-03-07 20:03] valschmidt commented on #2978
The plot panel, yes.
I'm not sure of the pros/cons of doing this as part of pause/rewind functionality in #2769. It seems to me, it is not quite the same, in the sense that one needs to change the horizontal scale of the plot to see a longer time history all at once, rather than just rewind it.

[2022-03-07 20:06] jtbandes commented on #2978
Yes, I suppose even if we implement #2769, we would still need an x range setting on the plot panel to easily control which part of the range is shown, even if the amount of available data is controlled by the app-level "DVR" setting.

[2022-03-07 21:08] 2metres commented on #2854
Will take a look today

[2022-03-07 21:21] jhurliman opened #2984 "Add != support to Message Path Syntax"
This is currently valid:

`/topic.markers[:].lifetime{sec==0}`

I would like:

``/topic.markers[:].lifetime{sec!=0}``

[2022-03-07 22:37] jtbandes opened #2987 "Panel toolbar prevents clicking on top portion of panel body"
When the plot legend is in "top" mode (above the plot), the panel toolbar covers up the close button, so the legend can't be closed (or opened if it is already closed).

https://user-images.githubusercontent.com/14237/157129575-3069f5c6-e3e2-4b22-a12b-b8dcbac5416b.mov

The same problem affects State Transitions, making the first row unclickable.

https://user-images.githubusercontent.com/14237/157

[2022-03-07 22:53] defunctzombie commented on #2824
We can tackle this by changing the MessageOrderTracker `update` call to inject problems into the player state and return a new player state. This would remove send notification and allow the issue to display on the data source sidebar in a less intrusive manner.

https://github.com/foxglove/studio/blob/main/packages%2Fstudio-base%2Fsrc%2Fcomponents%2FMessagePipeline%2FMessageOrderTracker.ts#L48

[2022-03-07 22:55] jhurliman commented on #2895
Fixed in https://github.com/foxglove/studio/pull/2952

[2022-03-07 22:55] #2895 closed

[2022-03-08 01:43] #2987 closed

[2022-03-08 02:33] youngzhichun commented on #2934
Hi @defunctzombie

Thanks for your information, data type is uint8 array, encoded as jpeg. We used cv::imencode to get the compressed image, and all parameters mentioned [here](https://docs.opencv.org/3.4/d8/d6a/group__imgcodecs__flags.html#ga292d81be8d76901bff7988d18d2b42ac) are set to default, except that we set cv.IMWRITE_JPEG_QUALITY to 60.

I tried to produce some dummy data. Unfortunately al

[2022-03-08 02:33] #2934 closed

[2022-03-08 03:28] HugoFeng commented on #2966
Thank you, it works. glad to know this! Though I have 2 more questions:
1. how can I show a marker on my current position
2. It only shows the trajectory in within the "pre-fetched" time slot. Is there anyway it can pre-load the entire "accum" trajectory?
Thanks.

[2022-03-08 06:34] #2210 closed

[2022-03-08 10:47] albait03 commented on #781
Thank you for the advice. I tried out Foxglove Studio and it met my requirements. I did not know about Foxglove and that there is an almost identical alternative to Webviz.

[2022-03-08 17:26] jtbandes commented on #781
If you'd like to learn more about the differences between Foxglove Studio and Webviz, we have a blog post about it: https://foxglove.dev/blog/foxglove-studio-vs-webviz

[2022-03-08 17:35] jtbandes commented on #2934
What is the _name_ of your custom image datatype? Only these datatypes are supported by the Image panel: https://github.com/foxglove/studio/blob/7f9398802f30bb6277b9ed7a9718508dbe777feb/packages/studio-base/src/panels/ImageView/lib/normalizeMessage.ts#L16-L23  I would be surprised if you were previously able to display a different (custom) datatype that was not in this list.

[2022-03-09 02:23] youngzhichun commented on #2934
@jtbandes Hi, thanks for the clarification.
 Actually our custom image datatype is **NOT** on your list. It only contains essential fields like
- data: uint8array
- format: string
- header: ROS std header
- timestamps: with int32 sec and int32 nsec as its attribute
- etc.
However, it is able to display properly on V1.0.

[2022-03-09 02:52] jtbandes commented on #2934
Even in v1.0, Studio would filter out image topics by datatype: https://github.com/foxglove/studio/blob/v1.0.0/packages%2Fstudio-base%2Fsrc%2Fpanels%2FImageView%2Findex.tsx#L285

So this would filter down the list of topics available to select:
<img width="380" alt="image" src="https://user-images.githubusercontent.com/14237/157361955-d942f46c-c857-41a3-ad00-1ea012d18f50.png">

I know you said it

[2022-03-09 10:09] 263868161 opened #2996 "how to export plot as image?"
how to export plot as image?

[2022-03-09 15:12] defunctzombie commented on #2996
We only have "export to csv" available as an export option. For now if you want to make an image from a plot its best to take a screenshot.

[2022-03-09 15:12] #2996 closed

[2022-03-09 16:58] foxymiles opened #2997 "Message path autocomplete suggestions are not useful in some cases"
**Description**
The message path autcomplete suggestions in this file are not useful and lead to empty plots

- Version: 1.2.0
- OS: macOS

**Steps To Reproduce**
1. Load this mcap file into studio
2. Create a plot panel
3. Select one of the suggested plot paths like `/base_footprint.transforms[:]{child_frame_id==0}.transform.rotation.y`

[test.mcap.zip](https://github.com/foxglove/studio/files/82

[2022-03-09 21:47] amacneil opened #2999 "Switch "explore sample data" to use the nuscenes mcap file instead of the bag file."
**Description**
Our sample bag is currently not particularly user-friendly with some topics such as `/imu` which have infrequent receive times. This leads to unexpected rendering in the Raw Message and Plot panels which default to showing messages by receive time.

We should update the sample bag to pin receive time to header stamp, so that it leads to a more predictable experience for new users.

[2022-03-09 22:06] amacneil opened #3000 "Sort topic names in 3d panel"
**Description**
Currently the topic list in 3d panel seems to be in the order they appear in the bag, which is essentially random. We should sort the topics alphabetically.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/637671/157544339-ffd8dac1-c058-4222-a0b4-5fefc1656edc.png">

[2022-03-10 00:40] defunctzombie commented on #2068
@jtbandes See: https://github.com/foxglove/nvidia-issue-tracker/issues/42#issuecomment-1063525384

[2022-03-10 02:31] youngzhichun commented on #2934
@jtbandes Thank you so much for all those information. I will tried it out and see if it works

[2022-03-10 15:58] defunctzombie opened #3004 "Mac app update notifications not working"
<img width="959" alt="image" src="https://user-images.githubusercontent.com/84792/157701316-21b6a6d2-424b-43d3-9e53-5994323689f7.png">

[2022-03-10 20:05] amacneil opened #3008 "Table panel should not collapse while playing"
**Description**
The table panel collapses as soon as you start playback. This makes it very difficult to actually inspect any object.

https://user-images.githubusercontent.com/637671/157745590-f6cdcf94-626a-4ffb-9763-0bce65d527a1.mov

- Version: main
- OS: web

[2022-03-10 20:26] amacneil commented on #2906
@defunctzombie will this be fixed by https://github.com/foxglove/studio/pull/2915?

[2022-03-10 20:29] defunctzombie commented on #2906
@amacneil yes - the message is removed in the new experimental player as the byte size of a block does not impact the performance of storing the block.

[2022-03-10 21:55] jtbandes commented on #3004
I just tested a manual notification with a dev build `new electron.Notification({ title: "Foo bar" }).show();` – this is the same API electron-builder updater uses: https://github.com/electron-userland/electron-builder/blob/17ee450dd747b867c6be5edb153a7fa39f427379/packages/electron-updater/src/AppUpdater.ts#L276

When the `.show()` is called, if the app hasn't been granted permission, this appears

[2022-03-10 22:28] defunctzombie commented on #3004
Probably I accidentally clicked dismiss and didn't realize it ♾️

Going to close since it looks like the notifications are working.

[2022-03-10 22:28] #3004 closed

[2022-03-10 22:28] defunctzombie commented on #3004
There's no clear problem other than some folks have said they see notifications and I know I haven't. But its easily because I dismissed the original notice.

[2022-03-10 23:24] defunctzombie commented on #2894
@taiyuzhuo We've also improved the error messaging around markers with such old header stamps via https://github.com/foxglove/studio/pull/2986. Please give this a try and let us know if things are working for you.

I'm closing this issue since we've explained why the data was not showing and also incorporated some UI to make it clearer what is going on in the 3d panel.

If you run into any other i

[2022-03-10 23:24] #2894 closed

[2022-03-10 23:36] defunctzombie commented on #2953
Via @clementchef - this is fixed in v1.3.0

[2022-03-10 23:36] #2953 closed

[2022-03-10 23:52] #2068 closed

[2022-03-11 00:24] defunctzombie commented on #707
Re-opening because this issue is a meta-tracking issue which also needs to have support for mcap.

[2022-03-11 00:29] defunctzombie opened #3010 "Image annotations not displaying"
**Description**
When trying to view annotations with the image panel, the annotations do not show up if I change the image topic and change it back to the original image topic.

[out.mcap.zip](https://github.com/foxglove/studio/files/8228001/out.mcap.zip)

- Version: v1.3.0
- OS: MacOS

**Steps To Reproduce**

1. Add an image panel with the `/image` topic
2. Activate the `/marker` topic as an anno

[2022-03-11 00:40] defunctzombie commented on #2906
For anyone experiencing this issue - please give the new `Experimental Bag Player` a try. It is not yet in a desktop release but available on web.

The setting is in the app settings.

<img width="320" alt="image" src="https://user-images.githubusercontent.com/84792/157779350-6384300d-fa51-40f5-8a06-0e5b4bbd7215.png">

[2022-03-11 00:45] defunctzombie opened #3011 "Turn on experimental bag player in dev mode"
Enable the experimental bag player in dev by default.

[2022-03-11 05:18] amacneil commented on #3011
Seems potentially confusing? I guess I don't use dev mode, but why not just enable the feature flag manually?

[2022-03-11 06:20] defunctzombie commented on #3011
I could blast a message in our slack but folks are likely to forget. So this lets us start testing it when we work with bags during development (which is often) and identify any weirdness before we turn it on by default in production.

[2022-03-11 06:21] amacneil commented on #3011
Fair enough

On Thu, Mar 10, 2022 at 10:20 PM, Roman Shtylman < ***@***.*** > wrote:

[2022-03-11 09:45] 263868161 opened #3013 "RangeError: Offset is outside the bounds of the DataView"
RangeError: Offset is outside the bounds of the DataView
    at DataView.getUint32 (<anonymous>)
    at Function.kappas_size (eval at c (file:///opt/Foxglove%20Studio/resources/app.asar/renderer/main.js:154:65), <anonymous>:10:30)
    at size (eval at c (file:///opt/Foxglove%20Studio/resources/app.asar/renderer/main.js:154:65), <anonymous>:27:43)
    at Object.array (file:///opt/Foxglove%20Studio/

[2022-03-11 16:50] #2854 closed

[2022-03-11 17:38] defunctzombie opened #3017 "Node playground is not working with experimental bag player"
**Description**

[2022-03-11 17:39] defunctzombie opened #3018 "Topic setting to "frame lock" OccupancyGrid topics"
**Description**

I have a topic which publishes an occupancy grid infrequently. This grid is published on a _map_ frame and represents a static map. As my robot moves around the world and localizes, it produces transforms from the _map_ frame to my _base_ frame.

If I set the 3d panel to follow the _base_ frame, and turn on the map topic, I am able to see the map as my robot moves. However, when I

[2022-03-11 18:47] defunctzombie opened #3020 "Current source is blank with experimental bag player"
**Description**
<img width="334" alt="image" src="https://user-images.githubusercontent.com/84792/157932639-7c0830e0-3136-4c62-a191-4722483bbf36.png">

[2022-03-11 20:27] defunctzombie commented on #3018
Related TODO

Update max storage to infinite duration
`const DEFAULT_MAX_STORAGE_TIME: Duration = INFINITE_DURATION;`

[2022-03-12 21:24] amacneil commented on #3008
@foxymiles is it possible to also fix this for sub-tables? e.g.:

https://user-images.githubusercontent.com/637671/158035478-1047a56f-2b7a-4777-b77f-799776c09b0a.mov

[2022-03-14 14:49] defunctzombie commented on #1840
The new IterablePlayer currently ignores the backfill duration tho I think it should probably implement that feature for supporting the OrderedStampPlayer in header playback mode.

[2022-03-14 14:49] defunctzombie commented on #1840
Closing this issue for now. I don't think we will tacking it individually.

[2022-03-14 14:49] #1840 closed

[2022-03-14 17:13] #3017 closed

[2022-03-14 20:00] defunctzombie commented on #3008
We do track expanded state in the Raw Message panel and automatically expand any key that we track as expanded. We could adopt a similar pattern here?

What if we drop nested tables as a thing? If you want to view a view that is an array you make that the message path syntax?

[2022-03-14 20:07] foxymiles commented on #3008
Yeah we could probably try to preserve expanded keypaths across messages.

[2022-03-14 20:47] defunctzombie commented on #2225
No user has asked for this.

[2022-03-14 20:47] #2225 closed

[2022-03-14 21:18] jbcpollak commented on #879
this would be useful to us, feature as described by @elephantum would be perfect as a minimum to get started - plenty of ways to make it more advanced in the future.

[2022-03-14 21:24] foxymiles commented on #2944
Simpler repro case:
1. Select a foxglove websocket source
2. Refresh
3. Select a local bag file

Before you even click "view file" you can see that the URL now contains an erroneous combination of `ds=ros1-local-bagfile` and a `ds.url` pointing to the websocket.

[2022-03-15 00:41] jhurliman commented on #2997
Changing to a bug since `child_frame_id` can never match against `0`

[2022-03-15 22:15] defunctzombie commented on #2997
Should we remove these suggestions entirely? What determines that the suggestions to filter by a field value like `child_frame_id=="foo"` should be included in the suggestions vs all the other ways we can have message path input values?

[2022-03-15 23:14] defunctzombie opened #3027 "Experimental player support for .mcap files"
Add support for reading .mcap files via the experimental player (IterablePlayer.ts).

The IterablePlayer uses a new mechanism for seekback to backfill the last message on each topic rather than the RandomAccessPlayer pattern of backfilling a specific amount of time. This new mechanism produces a better experience when seeking through data sources with infrequently published messages.

[2022-03-15 23:17] defunctzombie commented on #3027
@jtbandes Assigned to you as the owner per our planning discussion.

[2022-03-15 23:20] defunctzombie opened #3028 "Add a foxglove data platform source for experimental player"
The IterablePlayer uses a new mechanism for seekback to backfill the last message on each topic rather than the RandomAccessPlayer pattern of backfilling a specific amount of time. This new mechanism produces a better experience when seeking through data sources with infrequently published messages.

Research and implement a foxglove data platform IteratorSource (a thing the IterablePlayer uses as

[2022-03-15 23:23] defunctzombie commented on #3028
@foxymiles Assigning to you as the owner per our planning discussion.

[2022-03-15 23:44] jhurliman opened #3029 "Velodyne dual-return support"
When switching a VLP-16 to "dual return" mode in the web UI, the point cloud visualization starts rapidly flickering.

https://user-images.githubusercontent.com/195374/158490108-717628b4-e566-4841-8048-940ca979d40f.mov

[2022-03-15 23:53] jhurliman commented on #2997
I vote no, I find these suggestions helpful and would not be able to put together the correct syntax by memory without it.

[2022-03-16 00:14] #3020 closed

[2022-03-16 00:22] defunctzombie commented on #3029
@jhurliman do you know why this happens? Is it an issue with 3d panel handling of VelodyneScan messages or the player handling of "dual returns" and turning those into VelodyneScan messages?

[2022-03-16 00:34] jtbandes commented on #2997
Heuristic based on the `_id` suffix

[2022-03-16 00:38] defunctzombie commented on #2997
My main complaint is they crowd the autocomplete. Maybe if you start typing a `{` then they make sense - but otherwise they feel like lots of noise.

[2022-03-16 14:15] #2824 closed

[2022-03-16 15:51] jhurliman commented on #3029
This is a problem in https://github.com/foxglove/velodyne-cloud converting Velodyne packets into point clouds.

[2022-03-16 21:36] #3011 closed

[2022-03-17 13:49] #2944 closed

[2022-03-17 16:15] foxymiles opened #3036 "Display a better error message when parsing protobuf file descriptor sets fails"
**Description**
The error we display when we fail to parse a protobuf file descriptor set is not very helpful.

- Version: 1.4.0
- OS: macOS

**Steps To Reproduce**

1. Load the attached mcap file.

[test_imu.mcap.zip](https://github.com/foxglove/studio/files/8287995/test_imu.mcap.zip)

<img width="701" alt="Screen Shot 2022-03-17 at 10 13 43 AM" src="https://user-images.githubusercontent.com/9393

[2022-03-17 16:38] defunctzombie commented on #1664
The copy-paste of the content works. The problem is we hide the tooltip when the user mouseleave's the target element (the circle icon) and have no notion of the user's entering the tooltip content.

https://github.com/foxglove/studio/blob/main/packages/studio-base/src/components/Tooltip.tsx#L91-L95

[2022-03-17 17:11] #2303 closed

[2022-03-17 17:33] #2929 closed

[2022-03-17 17:34] defunctzombie commented on #2971
Closing this issue since there's been no response for a few days. Happy to take a look at this if you can provide some steps to reproduce the error.

[2022-03-17 17:34] #2971 closed

[2022-03-17 18:47] #3018 closed

[2022-03-17 20:42] esthersweon opened #3039 "Image panel's annotations menu jumps around when selecting options"
**Description**
Image panel's annotations menu jumps around when selecting options

- Version: 1.4.0
- OS: macOS

**Steps To Reproduce**

- Open sample data layout
- Click to open annotations menu in right-most image panel
- Select a new annotation topic
- See the menu jump to the left side of the app viewport

https://user-images.githubusercontent.com/6993359/158891730-66d85875-b723-42f8-be18-eee

[2022-03-17 22:20] defunctzombie opened #3040 "Document using dev console signin"
<img width="829" alt="image" src="https://user-images.githubusercontent.com/84792/158903849-f79b3b94-501f-4bf0-be2c-842f57bd2886.png">

Change `fox.session` cookie for api-dev.foxglove.dev to same-site "None"

document.cookie='fox.signedin=1'

[2022-03-17 22:59] jameskuszmaul-brt opened #3041 "Deep linking for MCAP files"
I would like to be able to generate a URL that I can hand someone that, when they open it, will load in with an MCAP file loaded. This is going to be generated by a script that will also generate the MCAP file, and so in my mind could reasonably take a couple of forms, including:
1. Support [deep linking](https://foxglove.dev/docs/studio/deep-linking) for local files. I'm not sure how obnoxious th

[2022-03-17 23:18] jtbandes commented on #3041
Thanks for the request!

2. seems like the same request as https://github.com/foxglove/studio/issues/2800. Do you want to keep this ticket open for the deep linking issue, or just close as dupe? I think deep linking to a local file would only work with a desktop app; the browser generally is not able to request access to any file path it dreams up, only access files that the user selects in the op

[2022-03-17 23:21] jameskuszmaul-brt commented on #3041
I'm happy with closing it as a duplicate. Mostly just wanted to make sure I was asking for the thing I want (making it easy for a user to open a file without extra steps), which might've had some better alternative.

[2022-03-17 23:21] #3041 closed

[2022-03-18 00:55] amacneil opened #3042 "Sidebar help icon is the wrong color"
<img width="323" alt="image" src="https://user-images.githubusercontent.com/637671/158917261-50cb432b-40d0-46a0-9d96-289ad7f2d014.png">

[2022-03-19 09:01] yjmade commented on #2800
Any update on this feature? It's crutial for us to switch from rosbag to mcap.

[2022-03-19 21:25] amacneil opened #3043 "Publish example proto and jsonschema schemas for foxglove messages"
Foxglove messages documented at https://foxglove.dev/docs/studio/messages/introduction currently require the user to hand-craft compatible schemas. We should create and provide these to simplify the adoption process.

[2022-03-19 22:17] foxymiles opened #3044 "Desktop app doesn't retain state between refreshes"
**Description**
Refreshing the desktop app with ⌘+R doesn't automatically restore the previous connection but requires the user to reselect it from the recents menu.

- Version: 1.4.0
- OS: macOS

**Steps To Reproduce**

1. Open a connection
2. Hit ⌘+R to refresh

**Current Experience**
You will have to reselect the connection from the recents menu.

**Desired Experience**
It would be nice if stud

[2022-03-21 04:52] amacneil opened #3045 "Properties documented as optional are not optional in Node Playground"
**Description**
`foxglove.LocationFix` is [documented](https://foxglove.dev/docs/studio/messages/location-fix) as only requiring `latitude` and `longitude`, but Node Playground nodes require all properties before they will compile.

Edit: This appears to apply to all `foxglove.*` schemas.

- Version: 1.4.0
- OS: mac

**Steps To Reproduce**

Nuscenes bag + NP node with the following content:

[code

[2022-03-21 05:03] amacneil opened #3046 "Node Playground topics with foxglove types are not visible in Raw Message panel"
**Description**
NP messages are not visible in Raw Message panel. This is happening with `foxglove.*` types.

It appears to work fine with ROS types and with custom defined (inline typescript) output types.

The broken topic still seems to work in other panels (e.g. Map panel, Log panel), but Raw Messages and Table are broken.

- Version: 1.4.0
- OS: macos

**Steps To Reproduce**
Create simple NP

[2022-03-21 21:12] jtbandes commented on #2800
Opened a PR: https://github.com/foxglove/studio/pull/3049

[2022-03-21 22:24] defunctzombie commented on #2825
@jhurliman assigning this to you per our planning discussion. The referenced PR implements the feature but needs protocol support.

[2022-03-21 22:45] defunctzombie commented on #1962
Assigning to @jtbandes for incorporating into the experimental data platform player. The experimental player will be our path forward.

[2022-03-21 22:48] defunctzombie commented on #2871
@jhurliman assigning to you per our planning discussion.

[2022-03-21 23:01] #2800 closed

[2022-03-21 23:07] #3028 closed

[2022-03-21 23:23] defunctzombie opened #3050 "[3d panel] add `foxglove.FrameTransform` support"
The `foxglove.FrameTransform` message describes a _transform_ between two coordinate frames. The transform direction is from the parent frame _to_ the child frame.

| field | type | description |
| --- | --- | --- |
| timestamp | Time | Transform time |
| parent_frame_id | string | Name of the parent frame |
| child_frame_id | string | Name of the child frame |
| transform | Transform | |

`foxglo

[2022-03-21 23:46] jhurliman commented on #2871
I will give it my best effort

[2022-03-22 02:59] 2metres commented on #996
<img width="355" alt="Screen Shot 2022-03-22 at 1 59 12 pm" src="https://user-images.githubusercontent.com/924528/159399145-906f5630-30ea-4d88-8211-83765a88340a.png">

[2022-03-22 03:13] defunctzombie commented on #2871
I see what you did there.

[2022-03-22 03:29] 2metres opened #3053 "Move Topic selection out of the panel and into a sidebar"
In order to improve selecting topics and other messages in panels when they are compact move topic selection out of the panel itself and into the panel settings. As per https://github.com/foxglove/ui-playground/pull/4

| 3D Panel | Image Panel |
| --- | --- |
| <img width="300" alt="Screen Shot 2022-03-22 at 2 23 17 pm" src="https://user-images.githubusercontent.com/924528/159401663-ab50a579-e32c-

[2022-03-22 03:36] amacneil commented on #3053
Did we make any decisions on how we will handle topic settings?

[2022-03-22 03:45] defunctzombie commented on #3053
For the first pass topic settings will continue to open modals.

[2022-03-22 04:02] 2metres opened #3054 "Standardize Panel component/PanelToolbar styles"
## Problem
Currently our panels vary widely in how you interact with them. Visualization panels tend create thier own UI's that overlay the visuals and text based data tend to use the PanelToolbar component. Some toolbars hide and show on hover and create issues for users selecting menus.

## Proposed change
Replace/Refactor the panel to handle the toolbar concept through props.

https://github.co

[2022-03-22 04:08] 2metres opened #3055 "ContextMenu panel API"
Introduce global ContextMenu that can have items pushed to it by panels/components

[2022-03-22 04:10] amacneil commented on #3053
ew, but ok

[2022-03-22 04:12] amacneil commented on #3054
Overall +++ to this effort.

Specifically looking at these icons I have no idea what the first 4 would do. maybe the first one is some sort of menu although its left placement indicates otherwise. No idea on the next 3. Then full screen and settings are obvious (I hope I got them right).

<img width="304" alt="image" src="https://user-images.githubusercontent.com/637671/159406462-9992c4c4-8026-43a

[2022-03-22 05:03] amacneil commented on #3050
Maybe drop `_id`, just call them `parent` and `child` (or `parent_frame` and `child_frame` if the former isn't obvious enough)?

Having "id" there makes me think that it should be a number.

[2022-03-22 12:58] KarlssonW opened #3056 "Point Decay in 3D Panel broken"
**Description**
Point decay time apparently no longer works

- Version: 1.4.0 or 1.3.0
- OS: Ubuntu ( Both 18.04 and 20.04 )

**Steps To Reproduce**
1.: View Any 3D Point source, either from a Bag or Live
2.: Add Decay Time via the Topic Settings Menu

**Expected Behavior**
Points would stay visible for the set decay time

**Actual Behavior**
No Points are visible at all, unless the decay time is

[2022-03-22 20:50] defunctzombie commented on #3056
@KarlssonW Is this for a PointCloud message or a LaserScan message?

[2022-03-22 20:50] #3039 closed

[2022-03-22 20:53] KarlssonW commented on #3056
i have only tried this for PointCloud2 messages

[2022-03-22 23:37] defunctzombie opened #3062 "Experimental Data Platform player does not persist url arguments"
If I open a url for streaming data platform with the experimental player, after some time the url args are cleared. If I refresh the page after this happens I am no longer viewing my data.

[2022-03-22 23:37] defunctzombie commented on #3062
Happy to demo if you cannot reproduce @jtbandes

[2022-03-22 23:39] defunctzombie opened #3063 "Experimental data platform does not load my data"
I have a layout with a plot panel and an image panel. When I open a data platform url nothing happens.

No images load. No plot data is loaded.

I can see requests being made in the console but nothing visually happens.

[2022-03-22 23:40] defunctzombie opened #3064 "Clicking seek or pause when using the experimental data platform player is laggy"
When clicking seek or pause with the experimental data platform player there is a noticeable delay before the action is taken.

[2022-03-22 23:41] foxymiles opened #3065 "Marker delete messages in 3d panel require extraneous frame_id"
**Description**
For marker delete messages in the 3d panel to work they seem to require a `frame_id` even though this is not meaningful for simply deleting a marker.

- Version: 1.5.0
- OS: macOS

**Steps To Reproduce**
Send a marker delete message without a `frame_id`.

**Expected Behavior**
It should delete the marker.

**Actual Behavior**
It only works if the message includes a `frame_id`.

[2022-03-22 23:45] defunctzombie commented on #3065
https://github.com/foxglove/studio/blob/main/packages/studio-base/src/panels/ThreeDimensionalViz/SceneBuilder/index.ts#L461-L466

We do not use the frame_id as part of identifying markers for deletion so I think its safe to remove the frame_id requirement.

[2022-03-23 14:40] defunctzombie commented on #2899
Done in https://github.com/foxglove/studio/pull/3052

[2022-03-23 14:40] #2899 closed

[2022-03-23 19:03] defunctzombie opened #3070 "Change `timestamp` field in foxglove messages to `sec` and `nsec` and use `x`, `y`, `z` for Vector types."
The foxglove message schemas with a timestamp field (i.e. https://foxglove.dev/docs/studio/messages/log) have defined the field as a single numeric (uint64) value in nanoseconds. This has exposed a number of annoyances:

## JSON annoyances

Making a json message with uint64 values is "impossible". While the JSON spec does allow for arbitrary numeric values, JSONSchema does not have a provision for

[2022-03-23 19:32] #1248 closed

[2022-03-23 22:50] bdemiroz-nvidia opened #3072 ".@norm modifier"
When I display a message in a panel, for vectors I get the norm next to it (see the image). However, when I display it separately, I don't see the norm. Is it possible to have a .@norm modifier such that we can display and plot it? This would be very useful for values like position, velocity, etc.

![Selection_817](https://user-images.githubusercontent.com/102264395/159808749-e88e8fd5-6238-4017-9f

[2022-03-24 02:30] defunctzombie opened #3073 "Unreadable mcap file created with python library"
Using the following code snippet and v 0.0.7 of the mcap library I produce example.mcap. When I try to load this mcap file in studio I get the error shown below.

[code]

<img width="707" alt="image" src="https://user-images.githubusercontent.com/84792/159829986-f49234be-3d8b-4cb8-8f18-f0c3e2cacd80.png">

[2022-03-24 02:31] defunctzombie commented on #3073
@foxymiles @jtbandes I've not investigated whether this is a read-side issue with mcap typescript in studio or a write side issue with the python library. Assigning you both to look into depending on who has time or tell me what I did wrong.

[2022-03-24 03:41] jtbandes commented on #3073
Have you run mcap doctor on the file to see what it says?

I think this issue has occurred in other writers too. Basically some bad logic around updating the messageStartTime when tracking the chunk as it’s written.

[2022-03-24 03:50] jhurliman commented on #3073
Is it possible to convert this into a writer conformance test?

[2022-03-24 13:41] foxymiles commented on #3073
Here's the generated file for reference:

[example.mcap.zip](https://github.com/foxglove/studio/files/8341933/example.mcap.zip)

Mcap doctor flags the error:

[code]

[2022-03-24 14:08] defunctzombie commented on #3073
That looks like a bug with the python writer? Or did I add messages incorrectly?

[2022-03-24 16:27] #3073 closed

[2022-03-24 18:50] jtbandes opened #3074 ""Show on startup" checkbox is cut off in open dialog"
The checkbox appears cut off, as does the bottom of the "Report a bug" text in the right-hand column:

<img width="857" alt="image" src="https://user-images.githubusercontent.com/14237/159989121-4fdcec8b-8e50-46d1-95ab-9bcd19cdf4de.png">

[2022-03-24 20:57] jtbandes commented on #3072
Related: https://github.com/foxglove/studio/issues/2250 https://github.com/foxglove/studio/issues/1254

[2022-03-24 21:14] lucabonamini opened #3076 "Support Robosense lidar"
Any change to get a functionality like the one develop for Velodyne lidar also for Robosense lidar?

[2022-03-24 21:37] #3070 closed

[2022-03-25 01:51] jtbandes commented on #3076
What software are you using to interface with the lidar today? For now the easiest way to visualize the scans in Foxglove Studio would be to manually convert them to the `sensor_msgs/PointCloud2` (https://github.com/foxglove/message-schemas/blob/main/proto/ros/sensor_msgs/PointCloud2.proto) and send them over a live connection (e.g. [rosbridge](https://foxglove.dev/docs/studio/connection/rosbridge

[2022-03-25 01:59] jtbandes commented on #3056
If possible, can you share a sample bag file to demonstrate the problem, or provide more info about the data you're visualizing?

I tested out [this bag file](https://github.com/ROBOTIS-GIT/bags/blob/master/TB3_WAFFLE_SLAM.bag) for LaserScan:

https://user-images.githubusercontent.com/14237/160039324-6f5fe71a-b3b7-439b-ac7d-d04229362b21.mov

As well as [this bag file](https://storage.googleapis.co

[2022-03-25 02:00] jtbandes commented on #3055
Are we talking about context menus as in right-click detail menus? What is the motivation for a global context/provider for this?

[2022-03-25 08:08] lucabonamini commented on #3076
I apologize, my question was not clear. I wanted to know if you are planning to develop an interface for Robosense lidar like [velodyne-cloud](https://github.com/foxglove/velodyne-cloud).

Actually, I use [rslidar_sdk](https://github.com/RoboSense-LiDAR/rslidar_sdk) to interface with the lidar. I think it would be very useful to get visual feedback on sensor data without having to be in ROS ecosys

[2022-03-25 15:34] mamacker commented on #781
We're going to be bringing Ouster Lidar into FoxGlove - just adding a comment to reinforce this need. :)

[2022-03-25 15:44] #3050 closed

[2022-03-25 20:20] amacneil opened #3079 "Unhelpful data platform error message when user is not signed in"
**Description**
When user is signed out of the desktop app, and they try to open some data platform data in the desktop app, we currently give them an unhelpful "Status 401" error with a javascript stack trace.

- Version: 1.4.0
- OS: mac

**Current Experience**
<img width="1312" alt="image" src="https://user-images.githubusercontent.com/637671/160195116-2ec100d5-c7a7-45b5-9933-b6e6a7dd5548.png">

[2022-03-25 20:23] jtbandes commented on #3079
Maybe related: https://github.com/foxglove/studio/issues/1917

[2022-03-25 22:11] #2284 closed

[2022-03-26 04:14] srikanthmalla opened #3083 "download sensor data from the foxglove studio | pointcloud, image"
Hi,
The following features would be nice to add to the current foxglove studio
1. Able to download pointclouds (pcd, txt, csv formats) and for images (png format) at any time instance.
2. Allowing the poincloud to be downloaded w.r.t different transform (tf) from the transform tree. Since the current visualizer in foxglove already does do that for visualization.

Thank you so much,
Srikanth

[2022-03-26 10:42] KarlssonW commented on #3056
I've only had this rather big bag file at hand right now, but here:

https://drive.google.com/file/d/1He_LGpHJS5Xo7GZbMC9PHW1MbviLzFf-/view

My best guess is that it has to do with some of the other point fields, since the whole coloration UI also dissapears when i enter a decay time:

https://user-images.githubusercontent.com/12237450/160235871-2fc45d90-2a94-407d-8122-4fb819e2f66e.mp4

[2022-03-28 18:02] foxymiles commented on #3008
Tracking keypaths actually doesn't seem like a great solution here since it only makes sense if the structure of the message doesn't change. For example in nuscenes the number and order of the markers in the `/markers/annotations` topic changes from message to message so keeping the same keypath expanded across messages isn't really meaningful.

[2022-03-28 18:25] foxymiles commented on #3008
For example if you open nuscenes and a raw messages panel on `/markers/annotations` and expand the 20th row you can see that the item at the 20th row is different from message to message so it doesn't seem like this is really that useful for monitoring data.

[2022-03-28 22:36] 2metres opened #3085 "Add useful information about "Live" connections to the Data Source Sidebar"

[2022-03-29 00:59] clementchef opened #3086 "Pad leading 0's to `nsec` field of `time` types in Raw Message panels"
**Description**
Small visualization issue. One frequent source of error when looking at timestamps is the lack of leading 0 in the nanoseconds. when you see a number like this (see nsec field in image) you think its toward the end of the second but its .09 not .9.

![image](https://user-images.githubusercontent.com/66749666/160511290-10a6fb52-3a25-4710-bc39-a5bded754ed9.png)

- Version: All
- OS:

[2022-03-29 01:12] amacneil commented on #3083
Thanks! No ETA on this but we agree it's a good feature to add.

[2022-03-29 11:18] horverno opened #3088 "Add .obj mesh support to mesh markers and robot descriptions"
**Description**

Connected to local ROS, the 3D marker topics and the URDF does not load.

- Version: Foxglove v1.4.0 / v1.5.1 / v1.6.0 and `ROS melodic` / `ROS noetic`
- OS: `Ubuntu 18.04` / `Ubuntu 20.04`

**Steps To Reproduce**

3d topic:
[code]
urdf:

[code]

**Expected Behavior**

Display 3D data similar to RVIZ.

**Actual Behavior**

![foxglove_01_a](https://user-images.githubusercontent.com

[2022-03-29 14:04] foxymiles commented on #3045
@defunctzombie This is coming from `@foxglove/rosmsg` right? Do we also want to rename that package?

[code]

[2022-03-29 14:15] #3062 closed

[2022-03-29 16:27] jameskuszmaul-brt opened #3090 "Plotting 2-D time-series data from chunked MCAP file has extra lines"
**Description**

If I create an indexed MCAP file with multiple chunks and then attempt to load it in Studio, either via URL or local file, I end up with a bunch of extraneous lines polluting the time-series plot. E.g., while still loading some chunked data I had:

![Screenshot from 2022-03-29 09-14-31](https://user-images.githubusercontent.com/91565539/160659129-8e8d43f7-e7a6-4646-928f-7203613847

[2022-03-29 16:43] jameskuszmaul-brt commented on #3090
Reproduction MCAP file with many chunks:
[many_chunks.mcap.gz](https://github.com/foxglove/studio/files/8373403/many_chunks.mcap.gz)

Exactly the same data, but just one chunk:
[one_chunk.mcap.gz](https://github.com/foxglove/studio/files/8373408/one_chunk.mcap.gz)

Look at the `"/imu/aos aos.timing.Report".pid` signal, for instance (see, e.g., this layout:
[code]

[2022-03-29 16:47] jtbandes commented on #3088
Hi, can you please share more details on the error messages from the developer console? (Press Alt key > View > Advanced)

It seems like the problem might be that the `nissan_bringup` package is not in your `ROS_PACKAGE_PATH` (that's why you get the "404" errors when trying to load the meshes). You can edit the `ROS_PACKAGE_PATH` by updating the environment variable before running Studio (e.g. lau

[2022-03-29 16:54] jtbandes commented on #3090
Running `mcap doctor` on the file, I get this:
[code]
(Note the message is incorrect — it should say "does not match the earliest message log time")

The first thing I would try is addressing that issue in your conversion tool and see if that helps.

[2022-03-29 17:11] gonzalocasas opened #3092 "Support loading DAE files using data uri"
**Description**

I tried publishing the meshes of a robot as visualization markers (`visualization_msgs/Marker`) to a topic, which works for STL files but not DAE files. My robot model is the UR3e, directly off of the official ROS repos. The STL files are collision geometry, and the DAE files are visual geometry.

- Version: https://studio.foxglove.dev/
- OS: Windows 10, Chrome latest

**Steps To

[2022-03-29 17:12] gonzalocasas commented on #3092
/cc @mattiskoh

[2022-03-29 17:15] jtbandes commented on #3092
Thank you for the report! I'm going to convert this to a feature request since it's more of a missing feature within the app. We currently have a MIME type check for STL files but not DAE:

https://github.com/foxglove/studio/blob/34f8298432af3268eb671f96768b9914b41686b4/packages/studio-base/src/panels/ThreeDimensionalViz/commands/MeshMarkers.tsx#L65-L73

[2022-03-29 17:53] jessicaaustin opened #3094 "Studio publisher doesn't re-connect after roscore restarts (ros1 live connection)"
When using a panel that publishes messages, if the underlying ROS connection is lost and regained, then the panel does not automatically re-connect to subscribers. Reloading the layout or restarting studio will re-connect the studio publisher to its subscriber(s).

This happens both via the Extensions API and the Publish panel.

- Version: Studio 1.4.0
- OS: Ubuntu (but i don't think this matters)

[2022-03-29 17:55] jtbandes opened #3095 "Inconsistent time formatting between sidebar and playback bar"
Using the example file from https://github.com/foxglove/studio/issues/3090#issuecomment-1082188733, the sidebar formats start/end times as numbers (137.401467398), because they are too small to be dates:

<img width="191" alt="image" src="https://user-images.githubusercontent.com/14237/160674613-70cc3089-7e49-4f26-80a5-5769bccd3970.png">

However, the playback bar and tooltip format them as times

[2022-03-29 17:57] jessicaaustin commented on #3094
Obviously this issue has a clear workaround, but it would be nice to see it fixed -- it's especially confusing because the Studio _subscribers_ manage to re-connect after roscore restarts, so you see data flowing through again for most panels. But then trying to publish fails with no errors.

[2022-03-29 18:25] jessicaaustin opened #3096 "Studio publisher does not connect to C++ subscriber (ROS1 live connection)"
When publishing messages via Studio, python subscribers can receive the messages no problem. But a subscriber written using C++ does not receive messages.

- Version: Studio 1.4.0
- OS: Ubuntu (but i don't think this matters)
- ROS 1, live connection, all on one host

**Steps To Reproduce**

1. Create a simple ROS subscriber in C++
   * I just used the one from the ROS tutorials: [Writing the Subs

[2022-03-29 18:31] jtbandes commented on #3090
The ChunkIndex records at the end of the file don't match the messageStart/EndTime from the chunks themselves, so these also need to be updated. I will work on enhancing the doctor tool to catch this error too.

[2022-03-29 18:33] jameskuszmaul-brt commented on #3090
That seems to have done it. Thanks!

[2022-03-29 18:33] #3090 closed

[2022-03-29 19:06] horverno commented on #3088
Hi @jtbandes

Thanks for the quick reply, i tried your suggestion sadly it did not worked.

The errors are the following:

[code]

[code]

Can I use an absolute path instead of the relative one somehow? Maybe this could solve the issue.

[2022-03-29 19:11] jtbandes commented on #3090
https://github.com/foxglove/mcap/pull/350

[2022-03-29 19:26] amacneil commented on #3090
Given that mcap is a pretty new technology, should we add some of these "mcap doctor" checks into Studio so that we can warn people if they are opening potentially incorrect files?

[2022-03-29 19:52] jtbandes commented on #3096
If you are using two nodes at once for testing, could this be the same issue as https://github.com/foxglove/ros1/pull/19 ?

[2022-03-29 19:55] jtbandes commented on #3088
Can you also try with Studio v1.5? Some changes to package loading were made which might affect this: https://github.com/foxglove/studio/pull/2970

[2022-03-29 20:09] jessicaaustin commented on #3096
Good question. Tried again with single publisher and subscriber:

[code]

Same result -- no messages received by the cpp node, and the same error message in the log.

[2022-03-29 20:18] jessicaaustin opened #3097 "Diagnostics Detail+Summary Panels: UI bug when trying to choose data source from drop-down"
When trying to choose the data source in a Diagnostics Detail or Diagnostics Summary panel, the drop-down moves around the screen, and makes it very difficult to select

- Version: Studio 1.4.0, desktop
- OS: Ubuntu

**Steps To Reproduce**

1. Ensure there are topics publishing on `/diagnostics` and `/diagnostics_agg`, so the panels have two data sources to choose from
2. Add a Diagnostics Detail

[2022-03-29 20:37] jameskuszmaul-brt commented on #3090
I suspect just having doctor advertised a bit better might help. When doing this, I had already run into a couple of error messages in studio due to having inconsistent logs, and for whatever reason I just hadn't fully realized that doctor was available--had there been any suggestion to run `mcap logger` at any point, I might've done it. `doctor` also doesn't appear to be mentioned either in the t

[2022-03-29 22:29] jameskuszmaul-brt opened #3099 "If log is longer than 1200 sec, can't reliably play/seek while log is loading"
**Description**

On a sufficiently long/large logfile, `_readAheadBlocks` will evaluate to 1, since the block size (in time) will be greater than `READ_AHEAD_NS`:
https://github.com/foxglove/studio/blob/0787f9f20d3a01445f92dfc6845a3c898bd25f57/packages/studio-base/src/randomAccessDataProviders/MemoryCacheDataProvider.ts#L295

If you then attempt to play the logfile, we then encounter the below cal

[2022-03-29 22:33] 2metres opened #3100 "Layout storage stops working when LocalStorage quota is exceeded"
**Description**
<img width="941" alt="Screen Shot 2022-03-30 at 9 31 39 am" src="https://user-images.githubusercontent.com/924528/160717637-3f6dfc55-0863-4820-a925-cae6adb643d1.png">

- Version: Dev
- OS: MacOS

**Steps To Reproduce**

Have a large number of layouts and load the example layout

**Expected Behavior**

**Actual Behavior**

[2022-03-29 22:35] defunctzombie commented on #3099
@jameskuszmaul-brt Could you try enabling the "experimental bag player" in the App Settings and see if that is a workaround to the particular issue you are running into here?

[2022-03-29 22:38] jameskuszmaul-brt commented on #3099
It seems to be already checked? Not sure if I did that or not, so will try un-checking that. Also already tried "unlimited in-memory cache", to no effect.

[2022-03-29 23:01] defunctzombie commented on #3099
Oh sorry - I see this is mcap not bag file. That setting won't impact this.

[2022-03-29 23:51] jtbandes commented on #3056
This problem is happening because the `header.stamp` time is used when calculating the decay time. These messages have a header.stamp that is very different from the log/receive time:

<img width="354" alt="image" src="https://user-images.githubusercontent.com/14237/160724380-b348c20c-0ae6-492b-ad5b-8eb6eebc0ac9.png">

Since the header.stamp far is in the past, setting a decay time of 1 second res

[2022-03-29 23:56] jtbandes opened #3101 "Changing subscriptions results in flickering with experimental bag player"
When using the experimental bag player, changing subscriptions (e.g. typing in the message path input in a Raw Message panel) causes existing panels to flicker as they re-backfill their data.

Video shows first the old bag player, and then the new experimental player:

https://user-images.githubusercontent.com/14237/160724810-29b78ba9-1d53-4027-8710-e3b5186ef544.mov

[2022-03-30 00:01] defunctzombie commented on #3101
I think its because of this line: https://github.com/foxglove/studio/blob/main/packages/studio-base/src/players/IterablePlayer/IterablePlayer.ts#L319

[2022-03-30 00:15] jtbandes commented on #3100
I think we might want to just switch to IndexedDB for the layout storage. While having lots of layouts is not ideal we shouldn't be imposing arbitrary limits on users adding lots of layouts if they really want to.

[2022-03-30 03:19] amacneil commented on #2782
Making a note that the best workaround for this today is to build your own local copy of studio, and edit the default layout:

https://github.com/foxglove/studio/blob/main/packages/studio-base/src/providers/CurrentLayoutProvider/defaultLayout.ts

I agree that it would be nice to support this directly rather than requiring you to recompile the app.

[2022-03-30 05:17] defunctzombie commented on #3086
I looked into this and have the following thoughts:

One job of the raw message panel is to display raw values. `sec` and `nsec` are the raw "subfields" of a stamp so displaying them in their number form is somewhat "correct" for purposes of debugging the raw message values.

For ROS messages tho the `stamp` field has a `time` type which is mostly treated as a builtin type and the "subfield" seria

[2022-03-30 08:04] horverno commented on #3088
I learned that the newest build available is 1.4.0 at the moment.

[code]

In the meantime I also tested it on `Ubuntu 20.04` and `ROS noetic` and `Ubuntu 18.04` and `ROS melodic`, the same issue is present.

I have two options now: wait for `v1.5` or build from source which I did not found any instructions. Considering the speed of the releases it only will take a couple of days, so I decided to

[2022-03-30 16:33] KarlssonW commented on #3056
ahh ok that makes sense, thanks! odd that there wasnt a warning for the expired markers though.

[2022-03-30 16:33] #3056 closed

[2022-03-30 16:46] #3079 closed

[2022-03-30 17:31] #2871 closed

[2022-03-30 17:36] jtbandes commented on #3086
Just want to add that IMO a number with leading zeros is still in number form.

[2022-03-30 18:58] amacneil commented on #1036
@defunctzombie has saved us from this pain once and for all - fixed in v1.5.1 release.

[2022-03-30 18:58] #1036 closed

[2022-03-30 19:20] #3092 closed

[2022-03-30 19:22] jhurliman commented on #3092
@gonzalocasas this should be working now, you can try it out on <https://studio.foxglove.dev/>. Please reopen or create a new ticket if you are running into any issues.

[2022-03-30 19:51] foxymiles commented on #3065
Looking into this further it looks like the original issue had more to do with message ordering and timestamps and not the frame id. Closing this pending a more specific ticket and example.

[2022-03-30 19:51] #3065 closed

[2022-03-30 20:07] jtbandes commented on #3079
@amacneil please try again now that #3093 is merged and see what you think.

The stack trace is still visible. I don't feel great about doing work to intentionally hide stack traces; it feels like it will just make debugging harder in the future.

[2022-03-30 20:09] jtbandes commented on #3090
https://github.com/foxglove/mcap/pull/353

[2022-03-30 20:19] #2825 closed

[2022-03-30 20:23] amacneil opened #3109 "Experimental player needs to cache http bags"
Seeking the sample dataset while using the experimental player leads to tons of unnecessary http requests, which makes scrubbing very unresponsive.

[2022-03-30 20:24] amacneil opened #3110 "Move experimental player to production"
- [ ] https://github.com/foxglove/studio/issues/3109
- [ ] https://github.com/foxglove/studio/issues/3101
- [x] https://github.com/foxglove/studio/issues/3063
- [x] https://github.com/foxglove/studio/issues/3027

[2022-03-30 21:38] defunctzombie commented on #3043
@jtbandes sending your way to group into the datatype defining an documentation

[2022-03-30 22:45] #2543 closed

[2022-03-31 03:26] 2metres commented on #3085
@esthersweon

Still think we could save space, not duplicate text, and make copy more readable by having one "Time" heading.

e.g.
[code]
instead of the 3 headings below:

<img width="320" alt="Screen Shot 2022-03-30 at 2 39 37 PM" src="https://user-images.githubusercontent.com/6993359/160935527-f4542be6-f513-4e54-a933-74e6a89cba23.png">

For instances where it spans AM / PM, we could do:
[code]

[2022-03-31 03:26] #996 closed

[2022-03-31 07:19] horverno commented on #3088
hi @jtbandes  I tried `v1.5.1` different error message, but same output

![MicrosoftTeams-image](https://user-images.githubusercontent.com/11504709/160999603-dc4c5034-9943-45d4-9081-7b7b9dcecf9d.png)

[2022-03-31 15:18] defunctzombie opened #3115 "Additional configuration options for <App>"
- [ ] Add ability to disable the "launch preference" screen
- [ ] Add ability to disable "drop file" support
- [ ] Add option to disable opening the data source sidebar by default
- [ ] Add option to disable URLStateSyncAdapter
- [ ] Add option to disable "signin" hint in Layout Browser
- [ ] Add option to provide a custom "logEvent"

[2022-03-31 15:21] defunctzombie opened #3116 "Add shortcuts for `[` and `]` to jump to start and end of data source"
Similar to the shortcuts for seek forward and backwards, the `[` and `]` shortcuts would jump to the start and end of the available source range.

[2022-03-31 15:45] defunctzombie opened #3117 "`layoutId` query argument is ignored."
When navigating to `studio.foxglove.dev` with a `layoutId` argument, the layout is not loaded (even tho I know this layout ID is valid because I copied it from the URL when I changed layouts):

https://studio.foxglove.dev/?layoutId=c02b6bc9-9492-4302-9cc1-238f28c3a5be

[2022-03-31 16:08] defunctzombie opened #3118 "Remote layout operations should happen immediately"
Whenever I make changes to layouts (delete, rename, etc) those changes should immediately update the remote layouts.

[2022-03-31 16:24] defunctzombie opened #3119 "Visiting a url with a layoutId that is not yet loaded (from remote sync) doesn't work."
If I make a layout and send a link to the layoutId to a team member, that layout does not load for them if they haven't sync'd their layouts.

Layout loading should work even if there hasn't been a sync.

----
* Sign in to your foxglove account.
* Open studio.foxglove.dev and let the layouts sync.
* Open https://studio.foxglove.dev/?layoutId=ea800f2c-f854-49de-8ef1-a2f7e1f31719 and the layout shou

[2022-03-31 16:48] jtbandes commented on #3118
What if you're offline?

[2022-03-31 16:51] jtbandes commented on #3100
Because scrolling through a huge list is a bad UX. Maybe this is saying more about our layout UX than about the number of layouts.

https://web.dev/storage-for-the-web/#other

[2022-03-31 16:52] jtbandes commented on #3116
Is there precedent for using <kbd>[</kbd> and <kbd>]</kbd> in other apps? What about the home/end keys which kind of inherently meant to jump to the beginning/end?

[2022-03-31 21:57] drldcsta opened #3122 "Save URDF as part of layout"
**Current Options**
Currently, urdf models are only able to be displayed by advertising a native ros topic or having a local `package://` declaration. Both of these don’t work with out setup, as we aren’t using a native ros connection, and the `package://` requires us to use the desktop app.

**Proposal**
We’re proposing that the URDF file be saved as part of the layout in foxglove. This would loo

[2022-03-31 21:58] drldcsta opened #3123 "Add NavSatFix as Displayable topic in 3d Panel"
**Current Options**

Currently, the map is only available for display on the map panel, which makes it difficult to tell where exactly the robot is.

**Proposal**
We propose having the NavSatFix as a displayable topic in the 3d panel, and this would render map tiles when toggled on. In addition to this, we think it would be beneficial to switch to Mapbox for map tiles, as opposed to the current Op

[2022-03-31 21:58] drldcsta opened #3124 "Axis oriented line segment visualization"
Currently, our ‘line’ that we use to visualize our path tries to orient itself perpendicular to the camera. I think it would be awesome if foxglove made a new viz type for this that was oriented with the z axis, so that the paths look something like what’s in [this](https://www.youtube.com/watch?v=SbGCIuSyRck&ab_channel=Nuro
) video:

[2022-03-31 22:31] AndrewNolte opened #3125 "Web Sockets on web client requires wss, not ws, however wss doesn't work"
**Description**
Trying to connect to a live rover over websockets (ws://<url>:8765) via the web client gives

After changing to wss://myurl:8765, I get this non-descriptive error

This error occurs on the electron app as well. So it may be that the foxglove python server doesn't support wss. wss also doens't work when trying to connect localhost.

- Version: Latest
- OS: Ubuntu 20.04

**Steps To R

[2022-03-31 22:32] drldcsta opened #3126 "Protobuf `enum`s not shown in State Transitions panel"
We would like to be able to plot `state` as seen in the below example however it does not show up

[code]

[2022-03-31 22:40] drldcsta opened #3127 "Lidar points are fixed pixel size, rather than fixed size"
I think it would be better if you could zoom in on lidar data and still be able to see the points. I understand that there’s a lo

Lidar data looks great here:
<img width="625" alt="Screen Shot 2022-03-31 at 5 40 50 PM" src="https://user-images.githubusercontent.com/4950919/161153901-2dc1c1e0-95d7-41e8-8b6a-5f86513f317a.png">
But not so great here (Zoomed in image so you can sort of see the points

[2022-03-31 22:40] drldcsta opened #3128 "Better query syntax for proto maps"
We have a topic that looks like this:

[code]
which makes:
<img width="630" alt="Screen Shot 2022-03-31 at 5 38 37 PM" src="https://user-images.githubusercontent.com/4950919/161153745-2b58a258-6421-4c4b-8a72-b6006d23de78.png">

And for the plot panel, it produces an array of inconsistently ordered key/value pairs, as seen in the screencap. It would be nice if it were structured as a tree, so we co

[2022-03-31 22:47] defunctzombie opened #3129 "Add query param to force "open in desktop" or "open in web""
Sometimes users want to make links that force the desktop app to open. An example would be to open a websocket connection to a non-localhost domain (which won't work with https pages in the browser).

https://studio.foxglove.dev/?ds=foxglove-websocket&ds.url=ws://myurl:8765

Having a query argument that can bypass the launch preference and open the desktop app would allow for sharing such links.

[2022-03-31 23:47] jtbandes commented on #3128
Just noting that this should be possible to access the data today, using something like `/metrics/camera_front.metrics_coll.metrics[0].labels[:]{name=="average"}.value`. That's definitely not a great syntax though.

This issue is probably blocked on or at least related to https://github.com/foxglove/studio/pull/3091

[2022-03-31 23:50] jtbandes commented on #3124
Can you clarify what "our ‘line’ that we use to visualize our path" is? Is there a screenshot or bag that can be shared, or at least a description of how the visualization is set up in the app right now?

And which path are we talking about from the video? This one that shows the car's trajectory?
<img width="450" alt="image" src="https://user-images.githubusercontent.com/14237/161167586-f643de66-

[2022-03-31 23:51] jtbandes commented on #3122
This wouldn't be as simple as saving a _single_ URDF file with the layout, because the URDFs can reference other files for meshes and such.

[2022-03-31 23:54] jtbandes commented on #3126
Blocked on https://github.com/foxglove/studio/issues/2214

[2022-03-31 23:56] jtbandes commented on #3126
Could we add some more clarification about what "does not show up" means? Are we talking about getting the names "INTERSECTION_STATE_NORMAL" to show up (which is what #2214 is about)?

[2022-03-31 23:58] AndrewNolte commented on #3126
I wont get the names, but it also won't plot the basic number

[2022-03-31 23:58] jtbandes commented on #3127
Seems like we would want this to be a setting, it feels unlikely that every user would want their points to zoom with the camera.

[2022-04-01 00:10] jtbandes commented on #3126
Cool, turned out to be a simple oversight with a quick fix: https://github.com/foxglove/studio/pull/3130

This fix actually made the enum names show up too, so not actually blocked on #2214 😅

[2022-04-01 00:13] jtbandes commented on #2214
It turns out Protobuf may not need so much special handling (see https://github.com/foxglove/studio/pull/3130), because `enumValuesByDatatypeAndField` depends on the **order** of the fields and constants. As long as the constants are added to the list immediately before the field itself, the names are correctly picked up at least for this simple case.

It would still be good to address this direct

[2022-04-01 02:29] jhurliman opened #3133 "[New3D] Scene no longer re-renders when closing the Studio sidebar"
I think this may be related to the ResizeObserver changes.

[2022-04-01 04:44] jhurliman commented on #3133
False alarm

[2022-04-01 04:44] #3133 closed

[2022-04-01 10:12] gonzalocasas commented on #3092
Yay! That works! Thanks a lot @jhurliman !

The meshes load correctly now. I am not yet sure how to set them to their correct frame/transformation thou (maybe not a question for this issue), if I set `frame_id` of the header to be the link name of each mesh, they appear somewhat in position (but some weird orientation I think), but then disappear a few seconds later because there's a missing trans

[2022-04-01 10:53] Magnusgaertner opened #3134 "ROS parameter fetch failed"
**Description**

![image](https://user-images.githubusercontent.com/23301102/161249759-eeb34321-878e-41c5-8467-f2c6fff83d08.png)

Logs:
[code]

- Version:
- OS: ubuntu 20.04

**Steps To Reproduce**

**Expected Behavior**

**Actual Behavior**

[2022-04-01 13:49] defunctzombie commented on #3134
@Magnusgaertner could you share some more details about the parameter or steps to reproduce? Was the parameter set with a launch file? What kind of parameter is it and what you'd set the value to? Any additional details to help us recreate this would be helpful.

[2022-04-01 13:56] defunctzombie commented on #2214
Sounds like we should look at addressing this with this work:
https://github.com/foxglove/studio/pull/3091

Or at least writing up a high level issue that describes the path from `RosDatatypes` to a ros-agnostic schema that is capable of conveying this information.

[2022-04-01 15:30] defunctzombie opened #3135 "Data source sidebar is in a constant loading state with experimental data platform player"
Probably something is miss-matched with the player presence and what the sidebar expects. This leads to seeing a constant loading spinner.

https://studio.foxglove.dev/?ds=foxglove-data-platform&ds.deviceId=dev_jCuXYeFwCkZowpHs&time=2021-03-22T15%3A03%3A38.381Z&ds.start=2021-03-22T15%3A03%3A38.381Z&ds.end=2021-03-22T15%3A09%3A18.000Z

<img width="400" alt="image" src="https://user-images.githubuse

[2022-04-01 16:22] defunctzombie commented on #3122
I think this needs to tie into the "asset manager" concept we've talked about in the past. These assets would also be something we could sync as part of the team account.

[2022-04-01 16:27] defunctzombie commented on #3123
To display a message in the 3d panel, we need to know the `frame` of the message and also have a [FrameTransform](https://foxglove.dev/docs/studio/messages/frame-transform) between the `frame` and whatever other objects (and their frames) are in the same scene.

How would we go about doing that for a NavSatFix or [LocationFix](https://foxglove.dev/docs/studio/messages/location-fix) message?

[2022-04-01 16:35] jtbandes commented on #3134
According to http://xmlrpc.com/spec.md,

However it may be that the ROS param server is okay with inf/nan values and represents them as `inf`/`nan` (this is the `str()` representation of inf/nan in python).

[2022-04-01 16:36] #3126 closed

[2022-04-01 16:39] defunctzombie commented on #3088
@horverno Thanks for following up with this. To help us reproduce the issue - could you confirm what your ROS_PACKAGE_PATH setting is within the Studio desktop app? I see above that you clone the repos to `~/catkin_ws/src` and want to make sure I've understood correctly how that relates to the package path.

[2022-04-01 19:13] horverno commented on #3088
@defunctzombie thanks, i can confirm, that the ROS_PACKAGE_PATH in the Foxglove Studio desktop app contains among others the following:
[code]

![image](https://user-images.githubusercontent.com/11504709/161326313-48b538f6-c42e-4f09-b358-499d2b1a29b4.png)

[2022-04-01 21:23] jhurliman opened #3138 "Timestamp and transform confusion"
Yay! That works! Thanks a lot @jhurliman !

The meshes load correctly now. I am not yet sure how to set them to their correct frame/transformation thou (maybe not a question for this issue), if I set `frame_id` of the header to be the link name of each mesh, they appear somewhat in position (but some weird orientation I think), but then disappear a few seconds later because there's a missing trans

[2022-04-01 21:24] jhurliman commented on #3092
@gonzalocasas I converted your question to a discussion at https://github.com/foxglove/studio/discussions/3139

[2022-04-02 20:03] defunctzombie commented on #3125
Tragically you are running into different limitations between web and desktop and secure vs un-secure connections.

When using the hosted web version (studio.foxglove.dev), the browser requires that any connection the site establishes to a host be done over a secure connection (https or wss). The browser has an exception for "localhost" which is why connecting to `ws://localhost:8765` would work b

[2022-04-02 20:03] #3125 closed

[2022-04-03 00:03] #1773 closed

[2022-04-03 04:19] amacneil opened #3141 "Hover over panel and Cmd+D to split"
**Description**
I want to be able to easily split panels using keyboard shortcuts.

As a mac/iterm user, `Cmd+d` for for a vertical split and `Cmd+Shift+d` for a horizontal split would make the most sense. We should research common shortcuts on windows/linux.

I propose that we combine this split behavior with "focus follows mouse", so those keyboard shortcuts will split whichever pane my mouse is

[2022-04-03 04:27] amacneil opened #3142 "Spacebar after adding a panel creates unexpected splits"
**Description**
1. open sample data set
2. add a panel
3. hit spacebar to start playback

result: unexpected splits! hitting spacebar more times creates even more splits!
expected: just play my file

- Version: main
- OS: web

https://user-images.githubusercontent.com/637671/161411512-716a44f1-c2f9-4391-98ad-17fef7c2d2aa.mov

[2022-04-04 00:06] jhurliman opened #3143 "[New3D] Remaining Tasks"
Remaining tasks to reach feature parity with the existing `ThreeDimensionalViz` panel.

- [ ] Picking, multiple selection UI control (https://github.com/foxglove/studio/pull/3132)
- [ ] Single-pass object highlighting
- [ ] Fix horizontal camera panning to match cursor position
- [ ] Coordinate frame UI control
- [ ] Labels (coordinate frames, text markers)
- [ ] Layer settings editing, topic/ns l

[2022-04-04 01:50] defunctzombie commented on #3143
Does picking include publishing?

[2022-04-04 03:41] amacneil commented on #3127
Could we do something intelligent so that only after a certain zoom level / density the points start getting larger?

[2022-04-04 03:48] amacneil commented on #3129
Have users actually asked for this feature? If so, it would be better for them to open the issue and share their thoughts.

In this specific case, it seems like creating a desktop link is only treating the symptoms. A better place to fix this would be if we detect a web user tried to connect to an unsupported combination (e.g. insecure non-localhost websocket) we should always show them an explana

[2022-04-04 03:56] amacneil commented on #3079
It's definitely an improvement (although the error text is missing some top padding, cc @2metres)

<img width="484" alt="image" src="https://user-images.githubusercontent.com/637671/161470922-1a7c1ac1-0af8-4f3b-92fd-c5c895e589a7.png">

I think we could still do a lot better though - e.g. there is no link/button to help me with signing in. In this particular error it's probably sensible to either r

[2022-04-04 15:44] AndrewNolte commented on #3123
[NavSatFix](https://docs.ros.org/en/api/sensor_msgs/html/msg/NavSatFix.html) has a header, which has a frame_id, so this could pin down the location. What could be tricky here is aligning the heading/orientation correctly, which isn't in this message. Maybe this could be encoded somehow in the global tf that `frame_id` has.

[2022-04-04 15:53] AndrewNolte commented on #3124
Yes, the visualization right now uses a line type (4) with a width set to the width of the rover. Looking on the other viz types, it may be possible actually to achieve what we want with [triangle list](http://wiki.ros.org/rviz/DisplayTypes/Marker#Triangle_List_.28TRIANGLE_LIST.3D11.29_.5B1.1.2B-.5D) However, it would be nice if this transformation was done on the client-side, or within foxglove i

[2022-04-04 15:57] AndrewNolte commented on #3124
An example of the foxglove trying to render the line to be perpendicular to the camera:
<img width="462" alt="Screen Shot 2022-04-04 at 10 54 27 AM" src="https://user-images.githubusercontent.com/24322714/161583451-790a5f47-be38-4c8e-9754-e281ee3f4fdd.png">
A more dramatic example:
<img width="505" alt="Screen Shot 2022-04-04 at 10 55 25 AM" src="https://user-images.githubusercontent.com/24322714/

[2022-04-04 19:15] abhilashchowdhary commented on #3124
I believe this is an ask for "first person follow" view  on the selected frame, @AndrewNolte is that correct ?

[2022-04-04 19:51] AndrewNolte commented on #3128
Yeah I was able to get it using that syntax, but thought our devs would like it as a tree. I think it that wouldn't be too bad if the plot panel had that as a suggestion, I know it suggests that syntax when the string is a frame_id

[2022-04-04 19:55] AndrewNolte commented on #3127
I think this can be done as a webGL shader. I did something similar or a graphics project where I wanted the viz to look good even when zoomed in. And I think it'll end up looking more natural when zooming in, as the physical size of the points wont change anymore. Right now they are changing, as the point size is defined in relation to the screen, not the 3d environment

[2022-04-04 20:30] rgov commented on #2924
(Please re-open for me, I do not have privileges.)

I am still (now on 1.5.1) seeing suboptimal behavior here.

1. Run the Rosbridge server (ROS 1) and connect from Studio.
2. Kill the Rosbridge server. Studio notices this and displays an error.
3. Try to reconnect to the same data source from Studio. Rosbridge logging shows no client connecting. No messages appear in Studio UI.

[2022-04-04 20:32] rgov commented on #2924
Appears there might be a 90 second timeout before the connection starts working.

[2022-04-04 20:33] defunctzombie commented on #2924
@rgov Is this explicitly done via the "open connection" dialog in Studio or by keeping the existing data source in Studio and waiting for it to reconnect?

Are you connecting to localhost or a separate computer?

[2022-04-04 20:40] defunctzombie commented on #3123
The transforms have information about how one frame relates to another (usually in units like meters and radians). How would you then tie that to the lat/long of the NavSatFix?

The issue I'm stuck on:

I've got a 3d panel visualizing in `base_link`. I receive a NavSatFix message with frame_id `gps_sensor`. If I have a transform from `gps_sensor` to `base_link`, that tells me the location of `gps_

[2022-04-04 21:06] defunctzombie commented on #2997
We need to take the type into account for the autocomplete suggestion.

[2022-04-04 21:21] defunctzombie commented on #3134
John indicates that ros defers to python parameter parsing and not strictly conforming to xmlrpc.

ROS has added a feature that is not in spec by supporting `inf`/`nan`.

We should add support for this handling to our xmlrpc lib.

[2022-04-04 21:24] defunctzombie commented on #3142
The "Diagnostics - Summary" item is still focused after your drag-drop action. When you push "space" you are "clicking" the list item.

Some ideas:
- Unfocus the item after the drag-drop action
- Close the Add Panel sidebar after the drag-drop action

[2022-04-04 22:20] rgov commented on #2924
I use the dialog to connect again. I would *prefer* that it reconnect immediately.

Technically it is localhost, but it is a port forwarded via a Visual Studio Code remote session (i.e., SSH port forwarding).

[2022-04-04 23:41] defunctzombie commented on #3008
We talked about this and the consensus is that the table panel is targeted at displaying a table of "non-object" values (i.e. an array of "objects" where each field in the object is a primitive value). While the table does support showing a nested table for object values that isn't the target use case so we think that supporting top-level expanded state is sufficient for the purpose of the table p

[2022-04-04 23:41] #3008 closed

[2022-04-04 23:53] amacneil commented on #3142
I see. Unfocus after drag-drop seems sensible.

[2022-04-05 16:48] jackiescanlon opened #3146 "Keyboard input sporadically disappears"
**Description**
I've experienced this problem several times now (and my coworker has as well) where the characters we type in a plotting legend show up briefly, but then disappear, and then sometimes come back and sometimes not. It also is usually not all the characters I type - they are sporadic.

- Version: 1.5.1
- OS: Ubuntu 20.04

**Steps To Reproduce**

1. Open a live connection (I used turtl

[2022-04-06 01:36] jtbandes opened #3147 "Typing in node playground tab moves cursor to end"
<img width="233" alt="image" src="https://user-images.githubusercontent.com/14237/161878065-5716525f-fa6b-425e-9eb7-9b56a30a9f2d.png">

When I type in this field to rename my node, the cursor jumps to the end after every keystroke, so editing what I've already typed is really hard.

[2022-04-06 01:37] jtbandes opened #3148 "Some node names break node playground typechecking"
<img width="379" alt="image" src="https://user-images.githubusercontent.com/14237/161878160-28719182-4ee6-4ac7-9712-0de5f3728679.png">

<img width="496" alt="image" src="https://user-images.githubusercontent.com/14237/161878174-813b57c8-6ee0-4c0e-8810-bbbc5404e2d4.png">

When a node name does not start with `/studio_node`, typechecking is broken in the editor. The node still works at runtime thoug

[2022-04-06 22:13] defunctzombie commented on #2924
For me Studio re-connects immediately once rosbridge is launched. Here is a screen recording of me killing and re-starting rosbridge. Each time the connection is re-established immediately.

https://user-images.githubusercontent.com/84792/162080861-09ee3c7f-f4ac-497c-8dd2-531767a78e6d.mov

This is with Studio v1.6.0 which I think has the same logic for connectivity as v1.5.1

[2022-04-06 22:52] jtbandes opened #3151 "Raw Messages shows old message and new topic when topic is changed on live connection"
Steps to reproduce:
- ROS 1 live connection
- Select a topic in the Raw Messages panel, which will show some messages
- Type to select another topic, which is an available topic but does not have any messages published

=> The panel shows the old message, but with the new topic & datatype name.

Screenshot provided by @drldcsta:

<img width="1202" alt="image (1)" src="https://user-images.githubuse

[2022-04-07 00:11] charlielito opened #3152 "Missing transform error when there is indeed the transform"
**Description**
I am trying to visualize a costmap topic on foxglove but I get the following error: `Missing transform from frame <odom> to frame <map>`. Nonetheless, there is indeed a transformation between those 2 frames being published. In fact, I am able to see the TF tree in foxglove. I don't think it is related to https://github.com/foxglove/studio/issues/2575 because the costmap is generate

[2022-04-07 00:16] defunctzombie commented on #2999
@amacneil do you still want this? I see it's gone through some assignment changes but we've never actually thrown it into a project or planning session.

[2022-04-07 01:13] jhurliman commented on #3152
Are you able to capture this behavior in a recording (`.bag`, `.mcap`, `.db3`) that you could share? That makes troubleshooting coordinate frame and timing issues much more straightforward. If I had to make a guess on what is happening just from the information provided here, I would say there is a timestamp issue somewhere. The relevant TF header.stamp is greater than the costmap header.stamp, or

[2022-04-07 04:30] iandouglas96 opened #3156 "Show as Axes option for Poses and Paths"
RViz allows for Poses to be displayed as axes or arrows, and paths can also be displayed similarly, since they are internally just a list of poses:

![image](https://user-images.githubusercontent.com/6352939/162120174-655f5a85-a3ac-4c02-af1d-eb3445794d66.png)

This is especially useful for robots such as quadrotors where the arrow alone cannot show roll (only yaw and pitch).

[2022-04-07 04:41] defunctzombie commented on #3129
Yes.

It's trickier to go back to the option screen once this happens. Maybe I want to create links that always open the desktop app if I know they aren't going to work ever in web (like hostnames for websocket connections). This would allow me to do that rather than sending users through a set of dialogs only to then open in desktop.

[2022-04-07 12:50] foxymiles commented on #2999
I've made some changes to the https://github.com/foxglove/python-mcap-ros1-support library to make writing a script to do this easier but @jhurliman said there are some other obstacles in the data to making this happen.

[2022-04-07 15:06] #3097 closed

[2022-04-07 15:15] defunctzombie commented on #3027
I'll take the initial pass at adding this to studio. I may need help with adding support to the mcap typescript library for backfilling.

[2022-04-07 16:07] defunctzombie commented on #3152
@jhurliman assigning to you for ownership and follow-up once we hear back with more info.

[2022-04-07 16:08] defunctzombie commented on #3134
@jhurliman assigning to you cause it sounds xmlrpc/ros protocol work related. You can make the call on what behavior we should support here.

[2022-04-07 16:22] jtbandes commented on #3027
I once started on this task, long ago. This may or may not be helpful: https://github.com/foxglove/studio/compare/jacob/mcap-iterable

[2022-04-07 16:27] jtbandes commented on #3156
Which message types would this option apply to?

[2022-04-07 16:47] defunctzombie opened #3158 "Experimental data platform player is unusable with this url"
https://studio.foxglove.dev/?ds=foxglove-data-platform&ds.deviceId=dev_jCuXYeFwCkZowpHs&ds.end=2021-03-22T15%3A09%3A18.000000000Z&ds.start=2021-03-22T15%3A03%3A38.381000000Z&layoutId=28cdd2dd-31de-4339-8386-ed0db0dfffde&time=2021-03-22T15%3A05%3A06.041352510Z

I can't click to seek.
I can't play.

From what I've been able to debug the player is making requests constantly.

[2022-04-07 16:48] defunctzombie commented on #3158
Might be related? https://github.com/foxglove/studio/issues/3063

[2022-04-07 17:59] iandouglas96 opened #3159 "TF Sync with rosbridge over high latency poor"
Under high latency network connections, the tf synchronization using rosbridge fails.

- Version: 1.6.0
- OS: Ubuntu 18.04

**Steps To Reproduce**
![image](https://user-images.githubusercontent.com/6352939/162266067-e287d200-2b60-4b2b-8ffd-a5c91f5d7613.png)

Bagfile and video at: https://drive.google.com/drive/folders/1yMsjnMXOcP3ln3T237nC7hrRHpmUo7cg?usp=sharing

Play bagfile bask over rosbridge

[2022-04-07 18:15] charlielito commented on #3152
You are right @jhurliman, the header is indeed set to 0 for some reason. I'll investigate this. Thanks for the fast response!

[2022-04-07 18:15] #3152 closed

[2022-04-08 01:53] jhurliman commented on #2999
Yeah, this is still in progress. The script has to handle MarkerArray and ImageMarkerArray, and I haven't had time this week to touch this.

[2022-04-08 02:47] defunctzombie commented on #2999
Sounds good. I've thrown it on the Q2+ project board so we make some time to push this over the finish line within the quarter.

[2022-04-08 04:19] amacneil commented on #2999
I still think this is important, our sample dataset currently gives a bad plotting experience out of the box.

On Thu, Apr 7 2022 at 4:47 PM, Roman Shtylman < ***@***.*** > wrote:

[2022-04-08 08:06] amacneil commented on #3074
Upgrading to bug, this is getting worse and is a bad first run experience:

<img width="803" alt="image" src="https://user-images.githubusercontent.com/637671/162393055-86885040-7578-4757-a69b-6ac4d50e749f.png">

[2022-04-08 15:14] defunctzombie commented on #3074
@2metres fyi - sending your way

[2022-04-08 15:16] defunctzombie commented on #1923
For additional context on what I see as the path forward to being comfortable exposing the "schemas" to the api in a way we can support.

https://github.com/foxglove/studio/pull/3091#issuecomment-1090598391

[2022-04-08 15:18] defunctzombie commented on #1683
@jtbandes assigning to you for inclusion into the BYOD work. We should incorporate this idea into our version of 3d object/marker/annotation.

[2022-04-08 17:58] jhurliman commented on #3094
I believe this is standard ROS behavior. I tried the following repro steps:

1. In one terminal, start `roscore`
2. In another terminal, run `rostopic echo /chatter`
3. In another terminal, run `rostopic pub -r 1 /chatter std_msgs/String '{data: "test"}'` and confirm the echo terminal sees one message per second
4. Restart `roscore` and the `rostopic echo /chatter` processes, but do not restart th

[2022-04-08 18:55] jhurliman commented on #3096
I can reproduce this. Investigating now.

[2022-04-08 20:44] defunctzombie commented on #3158
https://github.com/foxglove/studio/pull/3161

[2022-04-08 21:39] jhurliman commented on #3096
It looks like roscpp does not support `Transfer-Encoding: chunked`. Fixing this in [@foxglove/xmlrpc](https://github.com/foxglove/xmlrpc/pull/12)

[2022-04-09 22:27] rgov opened #3165 "Erratum in enum field docs"
https://foxglove.dev/docs/studio/annotating-data

[code]

I think the use of `number_msgs/Integer` and `letter_msgs/English` here is an error?

[2022-04-09 23:03] rgov opened #3166 "Connect scatterplot points with lines"
This screenshot shows a plot of `msg.x[:]` vs `msg.y[:]`.

<img width="717" alt="image" src="https://user-images.githubusercontent.com/108767/162594330-02f948f8-e5c4-4b72-84fc-81c22cde4c33.png">

It is difficult to see the data points, let alone identify a trend in the data. Connecting the points with lines, as Studio does for plots of scalar values (rather than arrays), would help a lot here.

..

[2022-04-09 23:59] rgov opened #3167 "Plot disappears when using header.stamp time vs receive time"
**Description**

- Version: 1.6.0
- OS: macOS

Connecting to a live ROS 1 system via Rosbridge.

**Steps To Reproduce**

1. Find a topic that has a populated `header.stamp` field
2. Plot some value in that topic against the receive time
3. Change the plot to use the header time

**Expected Behavior**

Plot looks better because it is rendering the actual data not distorted by network latency.

**Ac

[2022-04-10 00:02] rgov commented on #3167
It seems it's that the *x* axis is just not adjusting properly. If I zoom way out:

<img width="507" alt="image" src="https://user-images.githubusercontent.com/108767/162595592-4ad8de77-8f68-4583-91de-b200a105141f.png">

[2022-04-10 00:19] #3167 closed

[2022-04-10 00:50] rgov opened #3168 "Plot y-axis is not scaling properly"
The *y* axis of a Plot panel is not scaling to fit the data. Perhaps this is related to plotting an array of values?

- Version: 1.6.0
- OS: macOS

The Plot panel is plotting an array of values from a message, which is displayed in the upper left. You can see that almost all of the values are greater than 1, yet the *y*-axis scale only goes up to 0.98.

<img width="1447" alt="image" src="https://u

[2022-04-10 00:53] rgov commented on #3168
Fixing the *y* minimum to 0 seemed to make it snap into shape (different data being shown than in previous screenshot).

<img width="557" alt="image" src="https://user-images.githubusercontent.com/108767/162596614-1bd51fc8-3864-4019-973f-3d0781a02bab.png">

[2022-04-10 01:21] rgov opened #3169 "Highlight latest message in Log panel"
A nice feature is that when I mouse across time-synched charts, they all show a vertical line helping me visually compare the same point in time across panels.

It would be nice to extend this to the Log panel. I'd like it to highlight the log message that arrived most recently to wherever my mouse is pointing. Likewise I'd like to be able to point to a log line and have it show me on the plots wh

[2022-04-10 02:36] rgov commented on #551
This is still desirable to me as a way to increase the information density of my layouts.

[2022-04-10 02:44] rgov commented on #3141
Note that <kbd>⌘⇧D</kbd> on macOS Terminal.app closes a (vertical) pane, it doesn't create a new one. (It is a feature I never use so I'm not personally offended if there's a conflict here.) I couldn't find a key combo for this in Xcode. Visual Studio Code seems to default to <kbd>⌘\</kbd>.

[2022-04-10 02:54] rgov commented on #2613
What about making it easy to select Ignition Fuel models? https://app.ignitionrobotics.org/OpenRobotics/fuel/models/Hatchback%20red

[2022-04-11 07:25] Magnusgaertner commented on #3134
Hi all,

thank you for the fast responses and the public communication on this issue :+1:

I really appreciated it :ok_hand:

[2022-04-11 10:59] horverno commented on #3088
@defunctzombie @jtbandes i tried `v1.6.0` but the issue is still there

I also ask the people who i know have experience with this: @rudolfkrecht @norbertmarko @umiklos @csaplaci where somebody able to load 3d models? If yes, how?

[2022-04-11 13:41] defunctzombie commented on #3088
@horverno the referenced fix is not in a release yet.

Also worth noting that your ROS_PACKAGE_PATH has `/home/he/catkin_ws/src/nissan_leaf_ros/nissan_bringup` which isn't correct. It should be `/home/he/catkin_ws/src` to point to the root where to find packages.

Until the fix is part of a release I think you could try `/home/he/catkin_ws/src/nissan_leaf_ros` as a path. With the fix, you will be

[2022-04-11 14:02] horverno commented on #3088
thanks @defunctzombie

did I understand correctly that your suggestion was to directly give `/robot_description` the path like this:

[code]
instead of `package://` like this
[code]

![robot_desc](https://user-images.githubusercontent.com/11504709/162754861-5473b892-7705-48ab-9bd9-11a6e9ba3090.png)

I did this but did not solve my issues. Also I tried other URDF's such as [ANYbotics/anymal_c_simpl

[2022-04-11 17:54] karanchahal opened #3170 "Publishing geometry_msgs/PoseWithCovarianceStamped"
Hello, we are trying to publish on a topic with type `geometry_msgs/PoseWithCoviaranceStamped`

- Version: Latest Foxglove
- OS:

**Steps To Reproduce**

Open up ROS2 foxy terminal, start ROS bridge server and foxglove. Try publishing on a topic with type as given above.
You get a error message:
[code]

We see that the ros msg types have a seq field in the Header schema which is not supported in r

[2022-04-11 18:37] AndrewNolte opened #3172 "Track message counts and frequencies for live connections"
**Description**
Message count and frequency values show "---" when using foxglove websocket

![image](https://user-images.githubusercontent.com/24322714/162806836-b460c4cc-f5dc-4361-a88e-d490ccc2cc27.png)

- Version: Latest webapp
- OS: Ubuntu 20.04

**Steps To Reproduce**
Connect to a foxglove websocket connection
Open a Data Source Info Panel

**Expected Behavior**

**Actual Behavior**

[2022-04-11 20:12] karanchahal commented on #2834
we have this problem as well, would be great to see support for ROS2 message types on foxglove

[2022-04-12 05:48] cheery550 opened #3174 "support multiple remote-bag-urls"
Since there are many sensors in automatic perception and bag will become bigger and bigger,  we break data in different topics, like lidar point cloud, multiple videos streams, many objects from radar/camera/fusion.

Whether it is possible to support multiple remote bags?
At the same time,  we notice that webviz has support two remote bags. Is it possible to learn from their practices.

[2022-04-12 12:30] foxymiles commented on #3117
Fixed by https://github.com/foxglove/studio/pull/3171

[2022-04-12 12:30] #3117 closed

[2022-04-12 13:02] horverno commented on #3088
@defunctzombie @jtbandes i tried `v1.7.0` the error message disappeared, but still no 3D model

[code]

[2022-04-12 13:23] foxymiles commented on #3146
Investigating. The log shows this warning over again:

https://github.com/foxglove/studio/blob/470fb0ade84b95f4ce513562e74a1a0c6daff456/packages/studio-base/src/components/TimeBasedChart/index.tsx#L175-L181

[2022-04-12 15:05] jhurliman commented on #1972
Comment

[2022-04-12 16:44] foxymiles opened #3176 "Topic graph panel is empty when studio is restarted"
**Description**
The topic graph panel doesn't show anything on a new studio session until the "show services" button is clicked.

- Version: 1.7.0
- OS: macOS

**Steps To Reproduce**
1. Connect to a rosbridge data source
2. Create a layout with a topic graph panel
3. Close and reopen studio - nothing is shown in the topic graph panel
4. Click the "show services" button
5. The topic graph appears

[2022-04-12 16:59] jessicaaustin commented on #3096
@jhurliman Thanks for looking into this.

I just downloaded Studio 1.7.0 to test this out. But I am still seeing the same issue. What am I missing? Was there something different about your test setup maybe?

![Selection_999(428)](https://user-images.githubusercontent.com/1159930/163015160-a8ff1b79-e35d-4682-97ef-20c994a66dc9.png)

working fine for a python node:

![Selection_999(429)](https://user

[2022-04-12 18:55] foxymiles commented on #3168
I'm able to reproduce this with this node playground script:

[code]

[2022-04-12 19:56] jessicaaustin commented on #3094
@jhurliman Thanks, that makes sense. And I agree there are ROS1 limitations here that are outside Studio's control.

The main issue here is notifying the user that the panel they're using to publish messages is no longer working. Ideally, the panel could also recover from this state, but at the very least if the user is notified then they can reload the panel themselves. I'm trying to figure out a

[2022-04-12 20:08] jessicaaustin opened #3177 "Extensions API: add mechanism to detect issues with publishing"
This request is to add a callback or some other mechanism to the [publish](https://foxglove.dev/docs/studio/extensions/panel-api-methods#publishtopic-string-message-recordstring-unknown) API call, to detect if there was a problem with publishing.

The main use case here is detecting if a message failed to publish to at least one subscriber, so the panel could recover or at least notify the user th

[2022-04-12 20:08] #3094 closed

[2022-04-12 20:22] defunctzombie opened #3178 "Opening a url for data platform does not take me to my requested timestamp"
When I open a data platform url and play the data I see the URL updates the `time` argument. However, when I refresh or share this url the datasource does not open to the requested seek time.

https://studio.foxglove.dev/?ds=foxglove-data-platform&ds.deviceId=dev_Wm1gvryKJmREqnVT&ds.end=2022-04-12T20%3A12%3A49.126000000Z&ds.start=2022-04-12T20%3A07%3A49.272000000Z&layoutId=ea800f2c-f854-49de-8ef1-

[2022-04-12 20:26] defunctzombie opened #3179 "Opening a URL with a layoutID for a layout I do not have tells me to select a layout"
* Sign in to your foxglove account.
* Open studio.foxglove.dev and let the layouts sync.
* Open https://studio.foxglove.dev/?layoutId=ea800f2c-f854-49de-8ef1-a2f7e1f31719 and the layout should open
* Delete all the localstorage items for cached remote layouts and refresh the page. The layout will not open and you'll see a `Select a layout in the sidebar to get started!` message.

This is a bad exp

[2022-04-12 20:32] defunctzombie commented on #3178
Seems to be an issue with the experimental data platform player

[2022-04-12 20:47] defunctzombie commented on #2924
@rgov I was not able to reproduce (see above video). If you can describe what I should try differently happy to give it a try and figure out what behavior you are seeing or wanting to happen.

[2022-04-12 21:23] #3045 closed

[2022-04-12 21:47] defunctzombie commented on #3170
Related: https://github.com/foxglove/studio/issues/2834

[2022-04-12 21:51] defunctzombie commented on #3170
According to @jtbandes this is while trying to publish using the 3d panel pose publishing feature. @karanchahal is that right?

[2022-04-12 22:06] karanchahal commented on #3170
Yes that is correct @defunctzombie

[2022-04-12 22:13] defunctzombie opened #3181 "Panel context menu disappears"
I've got a connection open to rosbridge and am running a node that logs at 1hz. When I have a layout that has a log panel and try to use the panel context menu on another panel the context menu closes whenever a new log occurs.

If I remove the log panel the issue goes away. I've also confirmed that the issue happens when the log panel "scrolls" to show new logs that appear at the bottom and scrol

[2022-04-13 05:20] jhurliman commented on #3096
@jessicaaustin uh oh! Let me try to reproduce your environment as closely as possible. Can you let me know what version of ROS1 (Noetic?) you are using, and which version of Ubuntu?

[2022-04-13 05:47] jessicaaustin commented on #3096
No, it's melodic, on ubuntu 18.04 :sweat:

[2022-04-13 05:55] jessicaaustin opened #3182 "Studio publisher does not connect to remote subscribers in ROS1"
Studio publisher does not connect to remote subscribers in ROS1 -- in other words, if the ROS_MASTER_URI is not pointing to localhost, then messages fail to publish.

I've seen this behavior on our actual systems, and in this ticket I reproduce on a dummy setup. Of course it's possible I have some configuration wrong somewhere, but I am able to publish via `rostopic pub` using a remote host for RO

[2022-04-13 16:04] foxymiles commented on #3176
Note this doesn't seem to be an issue with ros1 data sources.

[2022-04-13 16:55] #3142 closed

[2022-04-13 16:58] #3168 closed

[2022-04-13 17:15] #3176 closed

[2022-04-13 20:13] wkalt commented on #1922
the tutorial here also allows easy interaction with the robot navigation in rviz, by clicking a location on the map:

https://emanual.robotis.com/docs/en/platform/turtlebot3/quick-start/

[2022-04-13 20:23] jtbandes opened #3187 "Ability to open layout (json file) directly in app"
For parity with `rviz -d config.rviz`, it would be nice to be able to launch Studio with `foxglove-studio -l layout.json` or similar.

Related: #2792 & #2117 (loading layouts from remote/hosted sources)

[2022-04-13 22:09] esthersweon opened #3188 "URL's layoutId does not update correctly when there is no data loaded"
**Description**
- URL's `layoutId` does not update correctly when there is no data loaded

- Version: 1.7
- OS: Web

**Steps To Reproduce**

- Open Studio app (studio.foxglove.dev) without any data loaded
- Click on any layout in the sidebar

**Expected Behavior**
- URL updates to have a `layoutId` param

**Actual Behavior**
- URL does not update to have a `layoutId` param

[2022-04-14 12:19] foxymiles commented on #3188
In fixing this we should be careful not to undo the fix in https://github.com/foxglove/studio/pull/3031

[2022-04-14 15:07] defunctzombie commented on #3188
@foxymiles How do we make this url state stuff more robust? It seems we are constantly thrashing previous fixes.

[2022-04-14 15:36] #1965 closed

[2022-04-14 15:39] defunctzombie commented on #3159
Note that rviz does not use rosbridge so this could be a rosbridge performance issue. Can you try reproducing this with the ROS1 native connection in the Studio desktop app to see if it's due to rosbridge?

Yes, Studio uses the latest available transform that can service the transform lookup rather than blocking and waiting. This is by design.

[2022-04-14 15:45] defunctzombie commented on #3172
Also worth noting that these fields won't be available for topics which do not have active subscribers from other panels since studio does not subscribe to all topics.

Today this is by design for live connections.

Changing this over to a feature request for seeing message counts and frequencies for live connections.

[2022-04-14 15:49] defunctzombie commented on #3146
My suspicion is this relates to races with state tracking in the input fields in the legend and updating the panel saved state which is then itself fed as state to the input fields.

[2022-04-14 15:52] defunctzombie commented on #1973
I don't think we should show the user notifications like this for a failure to sync a layout and instead should track the error in the layout browser and show users a simpler error (or no notification at all).

[2022-04-14 16:36] AndrewNolte commented on #3172
Actually it makes sense that it shouldn't work for all topics on live connections. I just noticed that it also isn't working on data platform files either.

[2022-04-14 20:44] foxymiles commented on #3188
It's tough IMO since we're compressing a lot of app state and behavior into a small state vector. Our app state is spread over several independent context and atomic state changes and updates across all of them is very challenging.

[2022-04-14 21:10] #3181 closed

[2022-04-15 17:03] defunctzombie opened #3192 "Teleop panel tells me to change settings but the settings menu item is disabled"
When I open the telop panel and connect to a websocket data source, the panel tells me to select a topic in the panel settings. Tragically when I click the cog icon in the panel toolbar and try to open the settings the menu item is disabled.

<img width="983" alt="image" src="https://user-images.githubusercontent.com/84792/163599263-14b4c5e7-1e13-47d4-864d-6a3fd7a3fc42.png">

---

Related - maybe

[2022-04-15 17:04] foxymiles commented on #3192
I think we're going to have to expose a method in the extension panel API to open the settings panel programatically.

[2022-04-15 17:06] defunctzombie commented on #3053
I think this is no longer true with the new 3d panel work.

[2022-04-15 17:13] defunctzombie opened #3193 "Teleop panel settings feedback"
Some feedback from using the new teleop settings (shown below):

<img width="340" alt="image" src="https://user-images.githubusercontent.com/84792/163599884-e3fab8fe-1c31-4d50-b29c-7cfb250056f5.png">

- Remove `See docs here` text. This space should go towards showing the settings rather than space for a link that power users won't click.
- `Filter by layer name` needs a better name. Have we deter

[2022-04-15 17:14] defunctzombie commented on #3192
In this particular case the panel toolbar is responsible for the context menu which is outside the extension api. Somehow it has decided this item should be disabled.

[2022-04-15 17:15] foxymiles commented on #3193
Seems like in this case the layer filter is just a distraction and we should disable it.

[2022-04-15 17:18] foxymiles commented on #3192
I think it's because the Telop panel doesn't expose our older-style config schema. We'll need to change this logic.

https://github.com/foxglove/studio/blob/028a902c1a9aad103066597d97268d93beca0286/packages/studio-base/src/components/Panel.tsx#L592-L604

[2022-04-15 19:11] jameskuszmaul-brt opened #3194 "Allow interleaving times in topics with websocket protocol"
I would like to be able to have Studio subscribe to two websocket topics, e.g. `/a` and `/b`, and then have the following messages come in in this order, and without having the display cleared:

[code]

And then if I have a 2-D plot or just am looking at raw messages of `/a` and `/b` I would like to have everything still displayed.

Essentially, I am happy to have the server guarantee that an indi

[2022-04-15 20:14] jtbandes commented on #1973
I personally haven’t seen this error for a long time. Is anyone still seeing it or do we have some idea of how to reproduce? We could do some work to improve the error but it would be hard to test in a realistic scenario if we don’t have steps to reproduce.

[2022-04-16 01:36] defunctzombie opened #3198 "Indicate a loading error to the user when we can't load their mesh resource"
**Description**
When a user provides a robot description to the 3d panel that contains a mesh type that we do not yet support (i.e. obj), we should show them an error indicating we failed to load their URDF properly rather than silently do nothing.

Try loading the URDF from as the robot model in the 3d panel:

[code]

Notice how nothing loads and there are no errors.

Related: https://github.com/

[2022-04-16 01:37] defunctzombie commented on #3198
@jhurliman Assigning to you since this is 3d panel related. I consider it a bug that we fail silently. We don't need to implement `.obj` loading in the existing panel but we do need to avoid failing silently.

[2022-04-16 01:39] defunctzombie commented on #3088
@horverno Thanks for following up. I've looked into this and determined that the root cause is that we don't _yet_ support loading `.obj` meshes. We are actively working on many 3d panel enhancements that will allow us to better support meshes like `.obj` files.

I'm going to change this ticket from a bug to a feature and update the title to indicate that the 3d panel should support .obj meshes fo

[2022-04-16 01:49] defunctzombie commented on #1973
I am going to close this. After thinking about this some more, I think we _have_ done some work since this was filed to reduce notifications on layout sync failures. If we encounter something specific we should re-visit. I want to emphasize yet again that these notifications should be meaningful language for the user with the ability to surface more details for support/debugging via click-through.

[2022-04-16 01:49] #1973 closed

[2022-04-16 21:35] amacneil commented on #3165
@esthersweon sending your way

[2022-04-17 20:02] WaelKarkoub opened #3199 "Studio crashes when running Turtle Sim"
I was running it through ROS2 native, on the desktop app on ubuntu 20.04. I tried visualizing `/cmd_vel` topic from turtle sim and it keeps crashing. `Cannot use 'in' operator to search for 'toJSON' in undefined`

[code]

[2022-04-18 04:57] WaelKarkoub commented on #1273
Hello, will you guys be supporting bgra8 in the near future? Having the same issues

[2022-04-18 13:30] foxymiles commented on #3192
@defunctzombie @2metres Seems like it would make sense to just always enable this since most panels are going to have something in the settings panel and in the rare case we can just show a "no settings available" message. Otherwise we'll have to make it a subscriber to the panel settings tree and wait until the panel actually pushes a settings tree to know if we should show it or not.

[2022-04-18 15:22] foxymiles commented on #2356
Closing pending renewed interest.

[2022-04-18 15:22] #2356 closed

[2022-04-18 15:31] foxymiles commented on #3119
What approach should we take here? Force a sync and then re-try to load the layout? Should we have some kind of modal state for this?

[2022-04-18 16:00] jtbandes commented on #1273
This isn't currently on our roadmap, but we would be happy to review a pull request if anyone is interested in contributing. It should be relatively straightforward to add/modify the code here:

https://github.com/foxglove/studio/blob/main/packages/studio-base/src/panels/ImageView/lib/decodings.ts

https://github.com/foxglove/studio/blob/735fff89303a526ea10af595c3cdf0725fab46ba/packages/studio-bas

[2022-04-18 16:04] #3072 closed

[2022-04-18 16:04] jtbandes commented on #1995
Related: https://github.com/foxglove/studio/issues/2250 https://github.com/foxglove/studio/issues/1254

[2022-04-18 16:25] jtbandes commented on #3199
Which version/distribution of ROS 2 are you using? (Foxy, Galactic etc)

[2022-04-18 16:28] foxymiles commented on #3100
Sounds like the strategy here is to switch to IndexedDB and do a one-time migration from localStorage?

[2022-04-18 16:29] foxymiles commented on #3199
@jtbandes I can repro this on Foxy.

[2022-04-18 16:33] jtbandes opened #3203 "Invalid WebSocket URL pops up toast behind the open dialog"
When entering an invalid url such as `test` or `test:` in the websocket url field, the error pops up behind the open dialog in a toast notification. It would be better to display any error inline in the dialog instead.

<img width="866" alt="Screen Shot 2022-04-18 at 11 31 00 AM" src="https://user-images.githubusercontent.com/14237/163840261-c3b8f063-7a72-47a3-9e1b-dc83d03195a8.png">

[2022-04-18 16:34] jtbandes commented on #3199
Cool – so that probably means the root cause is somewhere in the ros2/cdr parsing layer?

[2022-04-18 16:39] foxymiles commented on #3199
Seems likely. You can see there is data in the message:

<img width="677" alt="Screen Shot 2022-04-18 at 8 24 31 AM" src="https://user-images.githubusercontent.com/93935560/163841192-51637c8a-6055-48ff-a2f7-c7b46b3b30ad.png">

[2022-04-18 16:41] foxymiles commented on #3179
Is this the same as #3119 ?

[2022-04-18 16:42] jtbandes commented on #2834
Yes, I suppose the player could expose some info about whether it is ros1/ros2/other, and the panel could use that to automatically select the message format. I'm not sure what we should do for non-ROS players to be able to use this feature in the future, though (related: https://github.com/foxglove/ws-protocol/issues/38). I guess another option is that the panel could send the message to the play

[2022-04-18 16:42] jtbandes commented on #3179
Seems like it to me

[2022-04-18 16:53] jtbandes commented on #3179
Duplicate of https://github.com/foxglove/studio/issues/3119

[2022-04-18 16:53] #3179 closed

[2022-04-18 20:29] defunctzombie commented on #2834
Maybe this could be the "profile" concept that we have with mcap headers.

I think we would document the 3d panel as publishing a `foxglove.Pose` (or appropriately named message) for any "custom" framework (or profile).

One gotcha here is that if I open a `Raw Message` panel on the topic I _should_ be able to see the message getting published. I think thats an important debugging property we shou

[2022-04-18 20:32] defunctzombie commented on #3192
Always enable for now sounds good. Once we transition to the new panel toolbar UI proposed by @2metres we can revisit refining this behavior for panels without settings.

[2022-04-18 20:39] defunctzombie commented on #3119
My initial thought is that the CurrentLayoutContext/Provider needs to be enhanced to support a "loading" state. I believe right now we have a binary state: no layout and layout. With no layout we show the "select a layout from the sidebar" fallback, and with a layout we show the layout.

We need to update the state to a type that can represent four states: loading, no layout, layout, information.

[2022-04-18 20:42] defunctzombie commented on #3100
Yep.

[2022-04-18 20:56] jtbandes commented on #2834
I'm not sure this is a real problem – I think messages published from Studio today don't show up in Raw Messages (or any panel) unless they make a roundtrip through the player. In that case you would be seeing the final published message in the format vended by the player.

[2022-04-18 20:57] #3151 closed

[2022-04-18 20:59] defunctzombie commented on #3166
Do you expect the lines to connect the points in the order the points appear in the dataset (so lines can connect back and forth across the entire display) or do you expect lines to connect points in increasing x order?

[2022-04-18 21:10] rgov commented on #3166
I would plot them in the order they appear in the array. For my use cases they will already be sorted by _x_ ascending.

This creates some flexibility to do interesting plots like UTM easting, northings of a vehicle's path.

If someone wants sorted values a Node Playground would be pretty easy. Or a checkbox.

[2022-04-18 21:10] #3044 closed

[2022-04-18 21:17] jtbandes commented on #3187
It would be especially useful for robotics toolkits/projects that want to distribute an example layout. The simplest behavior would be to just create a new layout each time it's invoked this way. What rviz does is treat the current layout as unsaved and prompts you to save when you try to open a different layout or close the app.

[2022-04-19 06:13] robokamran opened #3207 "Incompatibility with WSL (Windows Subsystem for Linux)"
**Description**
Foxglove Studio works perfectly fine over both rosbridge and direct connection to ROS1 with WSL2.
But for ROS2, the direct connection doesn't work. In fact, when the WSL is active, it cannot even see other networks and domains either. To make it work, I need to disable `vEthernet (WSL)` in `Control Panel\Network and Internet\Network Connections`.
For ROS2, the rosbridge doesn't wor

[2022-04-19 09:32] darduck18 opened #3208 "MarkerArray display error in Vmware Ubuntu20.04"
**Description**

I have encountered the same problem as #2727, windows is ok but Ubuntu failed.
And I tried other computers with the same problem.
Can i fix it in virtual machine?

- Version:V1.7.0
- OS:Vmware Ubuntu20.04

**Steps To Reproduce**

open example datasource /semantic_map

**Expected Behavior**

**Actual Behavior**
![20220419172503](https://user-images.githubusercontent.com/23479151/16

[2022-04-19 12:25] foxymiles commented on #3074
I think this was caused by: https://github.com/foxglove/studio/pull/2563

Maybe setting a min-height here instead of a fixed height is the way to go?

[2022-04-19 13:36] foxymiles commented on #3178
Looks like the issue here is that we try to seek the time before the player is ready so it just discards the seek request.

https://github.com/foxglove/studio/blob/bcd44725da190e1259afc306562c5fd85a3892b5/packages/studio-base/src/players/IterablePlayer/IterablePlayer.ts#L890-L895

[2022-04-19 16:50] Aposhian opened #3213 "Support robot description for 3d models as a string topic"
In ROS2, Rviz supports loading 3d models from robot_description published to a string topic. Foxglove does not support this, which means that Foxglove doesn't have feature parity with Rviz. While it it can be worked around by republishing a mesh as a `visualization_msgs/Marker`, it would be nicer if Foxglove worked out of the box with systems that use `robot_state_publisher`.

[2022-04-19 16:55] #3099 closed

[2022-04-19 16:58] foxymiles commented on #3182
Thanks for the careful & extensive documentation of the problem as usual!

[2022-04-19 17:08] jtbandes commented on #3213
Can you share some documentation or an example of how this feature works in rviz?

From [docs](https://wiki.ros.org/robot_state_publisher):

This doesn't mention anything about the description being on a string topic.

https://wiki.ros.org/rviz/DisplayTypes/RobotModel:

Studio does support automatically loading the `robot_description` param in the URDF Viewer panel. Maybe the ask is to extend this

[2022-04-19 17:20] #3074 closed

[2022-04-19 17:21] #3192 closed

[2022-04-19 19:45] jtbandes commented on #3208
Hi, thanks for the report. Based on the error message, which comes from [here](https://github.com/foxglove/regl-worldview/blob/92df7aad8d28d15a811d5daaed672261c507e27a/src/commands/Lines.js#L533), this error doesn't seem like it should be platform-specific and looks like more of a logic error. Could you share a video of steps to reproduce the error? I have tried enabling the /semantic_map topic an

[2022-04-19 19:47] jtbandes commented on #3207
Thanks for the report. Could you share some more detailed steps to reproduce the problem? Does disabling `vEthernet (WSL)` make it work or are you still having trouble after using this workaround?

[2022-04-19 19:53] ccpowers opened #3215 "Brighter costmap colormap"
When displaying a navigation costmap in foxglove, the only color map available is black and grey (the same as static occupancy grids).

I would like to display dynamic costmaps in a different color scheme (possibly the blue-purple one from RVIZ) to make it easier to see the costmap on top of the static map.

These are both messages that are `nav_msgs/OccupancyGrid`.

[2022-04-19 19:54] jtbandes commented on #3215
Looks like this may be a duplicate of https://github.com/foxglove/studio/issues/2359 ?

[2022-04-19 20:05] jhurliman commented on #3096
@jessicaaustin can you try the foxglove/ros1 repo to see if this issue reproduces there with a more minimal example?

Instructions:
1. git clone the https://github.com/foxglove/ros1 repo
2. `yarn && yarn build`
3. `cd examples/ros1-chatter`
4. `yarn`
5. (start roscore in another tab if it's not already running)
6. `yarn start`

This will start a simple node that publisher to the `/chatter` topic.

[2022-04-19 20:05] jtbandes opened #3216 "Open dialog has two scrollbars"
Related to #3209? (cc @foxymiles) Open dialog has two scrollbars when the page is vertically constrained:

https://user-images.githubusercontent.com/14237/164086612-73f2d765-c28a-4da6-b35e-f73d294de2b2.mov

[2022-04-19 20:07] foxymiles commented on #3216
There are a lot of elements in the app that don't behave well when constrained this much vertically or horizontally. Do we plan to fix them all?

[2022-04-19 21:22] jtbandes commented on #3182
I'm having some trouble reproducing this problem. It does happen sometimes, but it seems really sporadic and I can't figure out what exactly triggers it.

My setup is Studio running on macOS, and ROS 1 Noetic running in an Ubuntu 20.04 VM. I use the VM's IP address for the ROS_MASTER_URI and the default `.local` domain for ROS_HOSTNAME.

Usually it works fine on the first launch and connection. I'

[2022-04-19 21:34] jtbandes commented on #3182
Here's a simple subscriber script that produces some debug logs about connections. However, when I use this script, I can't get the issue to reproduce at all. Maybe it's a problem specific to rostopic echo? Have you observed the issue with any other subscribers?

[code]

[2022-04-19 21:55] jtbandes commented on #3216
That's a fair question. Here is my 5¢:

The app does not have to look _nice_ at small sizes, but it should be usable "within reason". Obviously there are limits, for example if the window is smaller than the playback bar itself, nothing other than the playback bar is going to be usable. But with a few hundred pixels of height, most of the content _can_ be used even if it is awkward and requires sc

[2022-04-19 21:55] #3134 closed

[2022-04-19 22:07] jtbandes commented on #3170
Duplicate of https://github.com/foxglove/studio/issues/2834

[2022-04-19 22:07] #3170 closed

[2022-04-19 23:30] defunctzombie commented on #2924
Closing this out since I've not heard back and was not able to reproduce. Happy to re-visit if there are steps I can use to reproduce.

[2022-04-19 23:30] #2924 closed

[2022-04-20 00:03] darduck18 commented on #3208
thanks for your reply.
it happen 100% for my vmware workstation,I just enable /semantic_map topic
Others computer's issue as below.

![20220420075146](https://user-images.githubusercontent.com/23479151/164119572-2372556f-443b-49cf-a5fb-3d8c2150ac68.jpg)

 as #2727, i think it happen only in virtual machine ubtuntu.

[2022-04-20 04:16] defunctzombie commented on #3147
This is happening due to the onChange event for the input not causing the name to be applied immediately on the next render.

Below I have instrumented the onChange event with a console log showing the new value and also instrumented the render call to log the `inputTitle`. Immediately after changing the value in the input onChange, the component re-renders but does not have the correct value for

[2022-04-20 04:59] defunctzombie commented on #3148
This happens because the node name is also used as the "filepath" in the "virtual" project structure. Files like `types.ts` are hard-coded to have a file name like `/studio_node/types.ts`. When you change the node name, this becomes its new full path and `./types` is no longer resolved because it is no longer at the same "path".

[2022-04-20 05:14] robokamran commented on #3207
Sure @jtbandes, I can.

My computer is connected through ethernet to a local network. On the local network, there are robots and other computers using ROS2. So everyone should be able to see the topics as long as the **ROS_DOMAIN_ID** is the same.

On my computers (both laptop and desktop), when `vEthernet (WSL)` is enabled, I cannot see the messages/topics on the local network. Yes, disabling `vE

[2022-04-20 10:14] horverno commented on #3088
I can confirm that with `v1.8.0` the situation is better. Our URDF still  have some issues, but https://github.com/ANYbotics/anymal_b_simple_description seem to work. We will compare what's the difference and will improve accordance to that. Thanks
![anymal1](https://user-images.githubusercontent.com/11504709/164205986-1c9993b2-c906-4e77-b7b4-a3b644524948.png)
![anymal2](https://user-images.github

[2022-04-20 11:55] #3178 closed

[2022-04-20 12:11] foxymiles commented on #2999
Note from @jhurliman:

[code]

[2022-04-20 12:26] foxymiles commented on #2999
Sent convert script to @jhurliman

[2022-04-20 12:37] foxymiles commented on #3193
The top label (currently `Settings`) for teleop can be controlled per-panel by setting the root level `label`.

[2022-04-20 14:17] jtbandes commented on #3208
What operating system & architecture is your host machine?

[2022-04-20 14:30] jtbandes commented on #3207
Thanks for providing more details. To clarify, it sounds like you are not running any of the software (ROS or Foxglove Studio) _inside_ of WSL – it's just that you have WSL installed?

I wonder if this issue is related? https://github.com/microsoft/WSL/issues/5671

[2022-04-20 14:34] jtbandes commented on #3148
Yes, I think we need to stop using the node name as part of the filepath. I'm not sure if there was any valid reason to do that but it seems unnecessary.

[2022-04-20 15:53] Aposhian commented on #3213
I should have clarified: this is for Rviz and `robot_state_publisher` in ROS2.
The ROS2 version of `robot_state_publisher` accepts the `robot_description` as a parameter, and then republishes it on a topic as a string. https://github.com/ros/robot_state_publisher#published-topics

In `rviz2`, when you add a "Robot Model" you can choose the description source to be by "Topic" or by "File". If by "T

[2022-04-20 16:11] defunctzombie commented on #3216
/cc @2metres for thoughts on how we can avoid such things via the re-use of well behaving widgets or components

[2022-04-20 16:19] defunctzombie commented on #3182
When you experience this - does clicking the "publish" button more times do anything? My initial thought was that maybe the echo subscriber does not subscribe in time for the first publish.

My next thought here is that maybe our ros1 inbound socket handling _glitches_ out on the connection request from the echo subscriber. It might be worth instrumenting the ros1 "node" and our electron-socket us

[2022-04-20 16:22] defunctzombie commented on #3203
Picking up this issue as it has definitely annoyed me several times and I'd say is pretty terrible ux for what should otherwise be a simple text input error.

[2022-04-20 16:26] jtbandes commented on #3203
Additionally, the user should not be required to enter `ws://`, we should assume `ws://` if no scheme is specified.

[2022-04-20 16:34] jtbandes commented on #3213
I see, I didn't realize that params in ROS 2 are not global. That explains the difference between the rviz2 behavior and the documentation site. Thanks for clarifying.

[2022-04-20 16:45] jtbandes opened #3221 "Provide a way to load the sample data source without switching layouts"
While developing the app, I often want to reload the page to reset state or make sure my latest changes take effect. I would like a way to reload without losing the sample data source.

Right now, apparently the only way to load the nuscenes sample bag is to click "Explore sample data" from the Open dialog. Even refreshing the page with a url of `.../?ds=sample-nuscenes&layoutId=...` does not load

[2022-04-20 17:10] #3147 closed

[2022-04-20 17:27] jtbandes commented on #3208
Since we can't reproduce this issue, it would help if you can set a breakpoint where the error occurs using the Chrome debugger, and share a screenshot of the variable values, like this:

<img width="1303" alt="image" src="https://user-images.githubusercontent.com/14237/164288341-da9e2411-9f77-4a30-84de-acbccd798830.png">

Notice in my screenshot, `numInputPoints` is 2820 while `instances` and `po

[2022-04-20 18:19] TBK commented on #1511
I can confirm that it works perfectly fine with Microsoft Edge (100.0.1185.44) on Windows 11.

Newer Edge versions are based on Chromium.

[2022-04-20 20:53] #3148 closed

[2022-04-20 20:53] amacneil commented on #1511
Yeah we should probably list Edge as officially supported and remove the warnings, since it's all Chromium under the hood.

[2022-04-21 01:20] defunctzombie commented on #3158
My local testing

http://localhost:8080/?ds=foxglove-data-platform&ds.deviceId=dev_K2Bh2eMjUVEs0FYO&ds.end=2021-03-22T15%3A09%3A18.000000000Z&ds.start=2021-03-22T15%3A03%3A38.381000000Z&layoutId=89d07096-bec3-4d65-8da6-e2b545c42e1d&time=2021-03-22T15%3A05%3A12.751213368Z

[2022-04-21 03:10] rgov opened #3226 "Extend last state in State Transitions panel to current time"
Foxglove Studio 1.8.0

I use a State Transitions panel to display a state message that I publish *only* when the state changes, rather than at a regular interval.

This results no color bar being shown between the last state transition message and the current time:

<img width="241" alt="image" src="https://user-images.githubusercontent.com/108767/164363622-bd9b2113-8392-4dbc-b64f-8c401c4d8eaf.png

[2022-04-21 03:39] amacneil opened #3227 "Add option to copy current timestamp in ISO format"
**Description**
Creating events in Console requires the timestamp in ISO 8601 format:
<img width="596" alt="image" src="https://user-images.githubusercontent.com/637671/164367072-7e3b1a29-9601-4fd3-a67a-49b07af10c2e.png">

Studio only gives you the timestamp in time-only or unix formats:
<img width="292" alt="image" src="https://user-images.githubusercontent.com/637671/164367102-a9a52779-b551-4f4d

[2022-04-21 04:02] rgov commented on #1422
I think you are missing OffscreenCanvas, no? https://caniuse.com/offscreencanvas

[2022-04-21 05:37] robokamran commented on #3207
My PC is connected to the local network through ethernet and some robots are on the local network. I connect to other robots via Wi-Fi and a separate USB-Ethernet adapter as well. I also run simulations on multiple ubuntu instances in WSL (noetic, melodic, galactic, and so on). And I use Foxglove Studio on Windows as a diagnostic tool for all the robots inside WSL and other networks. For now I don

[2022-04-21 07:50] robokamran commented on #3207
### _UPDATE:_
Maybe the problem is not just with the WSL but happens when having multiple network connections in Windows.
BTW Foxglove Studio is an excellent tool for Windows to visualize and debug a robot.

**Environment**
- Ethernet connection to a local network (with internet access).
- Wi-Fi connection to the robot.
- Foxglove Studio 1.8.0 on Windows.
- OPTIONAL: any other interfaces including

[2022-04-21 18:33] #3172 closed

[2022-04-21 19:24] foxymiles opened #3233 "Global variable slider panel needs styling polish"
**Description**
The global variable slider panel looks a bit rough and would benefit from some styling attention.

- Version: 1.8.0
- OS: macOS

**Steps To Reproduce**
<img width="1035" alt="Screen Shot 2022-04-21 at 2 23 42 PM" src="https://user-images.githubusercontent.com/93935560/164537629-a4dce9d3-4be4-4368-ab82-09c80d97d3ae.png">

[2022-04-21 20:06] jtbandes commented on #3208
If you could get the debug screenshots from https://studio.foxglove.dev instead of the desktop app, it should have better variable names (fixed in https://github.com/foxglove/studio/pull/1880)

[2022-04-21 21:14] jtbandes commented on #3207
It sounds like this is a known limitation with our ROS2 / RTPS implementation, which currently only listens on one network interface: https://github.com/foxglove/rtps/issues/17

[2022-04-21 22:54] jhurliman opened #3236 "DataPlatformIterableSource does not fill out TopicStats (numMessages)"
https://github.com/foxglove/studio/blob/main/packages/studio-base/src/players/IterablePlayer/DataPlatformIterableSource.ts#L115-L116

[2022-04-21 22:58] defunctzombie opened #3237 "Send studio version in data platform request headers"
When debugging issues on our hosted services, it is helpful to know which version of studio made the request. This can help us narrow down the problem and identify whether web or desktop is making the request.

These requests should also include any details about the player used (experimental, etc) so we can further isolate issues from api logs.

[2022-04-21 22:58] defunctzombie commented on #3237
From @jhurliman

[2022-04-21 23:02] defunctzombie opened #3238 "Track player errors (problems) in Amplitude"
We should record when users encounter a player error from using data platform player. If the number of errors users experience when using the data platform player is high, we might have regressed some functionality.

[2022-04-21 23:04] #3100 closed

[2022-04-21 23:05] defunctzombie opened #3239 "Avoid retrying failed requests for data platform player"
When the data platform player encounters a parsing error during startup, it goes into an infinite loop trying to fetch the data again and again. This results in rapid usage of egress and often incurs higher cloud costs. We should try to load the data once and stop if we cannot. If the error is due to schema, data platform will not recover to justify retrying, if the error is due to temporary netwo

[2022-04-22 00:33] defunctzombie commented on #3040
I've decided to take a different approach: https://github.com/foxglove/studio/pull/3240

[2022-04-22 00:33] #3040 closed

[2022-04-22 00:57] robokamran commented on #3207
I see, so if this limitation is attended to in another thread, I guess we can close it here since it's not only related to WSL.
I appreciate your support so far.
I'll add a comment to the other thread for my tested hotfix and propose some suggestions.

[2022-04-22 02:08] defunctzombie opened #3241 "Clicking the "visibility" toggle for the Topic settings group does not hide the topics"
**Description**
On the map panel, when I click the 👁️ icon to toggle visibility on the topics group the topics are still visible.

<img width="764" alt="Screen Shot 2022-04-21 at 7 07 07 PM" src="https://user-images.githubusercontent.com/84792/164582362-366ced3b-637e-4bdf-8b19-c17836b46514.png">

<img width="755" alt="Screen Shot 2022-04-21 at 7 07 11 PM" src="https://user-images.githubusercontent

[2022-04-22 02:24] defunctzombie commented on #3146
😭

Classic lagging UI challenge. Do we debounce the path changes? Maybe that would help mitigate this further.

[2022-04-22 02:26] #3203 closed

[2022-04-22 02:52] defunctzombie commented on #3236
I've removed the bug label. A lack of topic stats is not a bug since topic stats are by their design a best effort bit of information (live connections don't provide them for all topics).

[2022-04-22 02:57] defunctzombie commented on #1917
I think we've wrapped more of these errors now - at least I don't find myself seeing these anymore. I was not able to reproduce these errors when I turned my wifi off on my laptop.

@amacneil are you able to reproduce? If not lets close this out and re-open when we are able to.

[2022-04-22 04:02] #3063 closed

[2022-04-22 04:02] #3158 closed

[2022-04-22 04:55] amacneil commented on #1917
I did an experiment opening studio in one tab and logging out in the other tab. It gave me one toast and then logged out, which seems not super polished but ok for now. I haven't seen toast spam like this in a while so fine with closing this ticket.

[2022-04-22 04:55] #1917 closed

[2022-04-22 07:36] Wenjuan-Y commented on #2120
hope the feature can be implemented soon, it would be better to have "showdiff" feature (same like what webviz implemented), so that we could compare the results generated from two models.

[2022-04-22 12:51] darduck18 commented on #3208
ok,i got it.
![20220422204704](https://user-images.githubusercontent.com/23479151/164717336-795d5131-7998-4023-9a45-1d730e4620da.jpg)
![20220422204714](https://user-images.githubusercontent.com/23479151/164717340-ddebcef0-0a0e-40e4-98d6-567322f04717.jpg)
![20220422204723](https://user-images.githubusercontent.com/23479151/164717346-ab337567-2ee6-4cf5-b84d-8be4a3e5a4dc.jpg)

By the way, i check thi

[2022-04-22 13:58] foxymiles commented on #3146
Debouncing might help and also not changing the subscribed paths until a parseable path is entered.

[2022-04-22 15:57] defunctzombie commented on #3241
@foxymiles assigning to you since this is from your recent change to migrate the map panel to the settings sidebar

[2022-04-22 18:44] foxymiles opened #3248 "Map panel is not rendering GeoJSON markers correctly"
**Description**
The map panel fails to find the leaflet images needed to render GeoJSON parkers.

- Version: 1.8.0
- OS: macOS

**Steps To Reproduce**

Send a GeoJSON message to the map panel. This issue is also visible in the storybok.

**Expected Behavior**
The marker should render.

Possibly related: https://stackoverflow.com/questions/60174040/marker-icon-isnt-showing-in-leaflet

**Actual Beha

[2022-04-22 18:50] jessicaaustin commented on #3096
@jhurliman Yes, this does cause an error:

![payload_999(005)](https://user-images.githubusercontent.com/1159930/164776123-be8b8328-f135-4ff6-a7f6-79a4b2c65809.png)

I'm going to see if I can reproduce this running inside of a docker container instead of just running on my machine directly. Then we can compare apples to apples. I assume you're doing a similar thing (VM or docker) for your own test

[2022-04-22 19:45] jessicaaustin commented on #3096
@jhurliman ok check this out:

https://github.com/jessicaaustin/ros_demo

Running using those instructions, I can replicate using either melodic or noetic:

![payload_999(006)](https://user-images.githubusercontent.com/1159930/164783605-9e0c2627-6477-4b02-a211-1a023a8881e7.png)

Let me know if this helps!

[2022-04-22 19:54] jessicaaustin commented on #3182
https://github.com/foxglove/studio/issues/3096 is similar in the sense that a subscriber isn't getting messages from Studio. But in that case, the issue is it's a C++ subscriber, in this case the issue is _something_ about networking.

In that issue, @jhurliman described [here](https://github.com/foxglove/studio/issues/3096#issuecomment-1103070902) how I can run a test using the https://github.com

[2022-04-22 19:56] jessicaaustin commented on #3182
I should also say, we are seeing this in our "real" setup pretty consistently, the dummy example I give in the description is to replicate using the most bare-bones setup possible.

[2022-04-22 20:17] jtbandes commented on #3208
In this screenshot, `instances` is 2819, and `poses.length` is also 2819, so there should be no error. Is there sometimes an error and sometimes no error?

[2022-04-22 20:47] jhurliman commented on #3096
@jessicaaustin interesting, I can't reproduce this using your demo repo and the latest @foxglove/ros1. This is what I get (host is a Linux 20.04 VM, using noetic+focal settings for your container):

[code]

Other terminal:

[code]

[2022-04-22 20:59] jessicaaustin commented on #3096
@jhurliman Interesting...

ok to double-check two things:

* is your ros1 repo is at the same commit as me (see below)?
* where is your roscore running in the example above?

my ros1 repo was pulled today and had no changes:

[code]

[2022-04-22 21:43] jessicaaustin commented on #3096
Yeah, the yarn.lock that changed is the one at https://github.com/foxglove/ros1/blob/main/examples/ros1-chatter/yarn.lock -- in the repo it's at foxglove/xmlrpc@^1.1.9 but it got upgraded to foxglove/xmlrpc@^1.2.0

[code]

[2022-04-22 22:26] jhurliman commented on #3096
@jessicaaustin I just updated my examples/ros1-chatter to use @foxglove/xmlrpc 1.2.0 instead of 1.1.9 and I can reproduce your issue now. Looking into the actual cause now, thank you!

[2022-04-23 16:39] rgov opened #3251 "x-axis on State Transitions panel does not align with Plot panel"
Foxglove 1.8.0, macOS 12.3

I have a Plot panel and State Transitions panel aligned vertically with one another. Both use the `header.stamp` for their *x* axes. But the data points do not align between the two panels, because the width of the plots are slightly different, probably due to the absence of the *y* axis labels on the State panel.

The peak on the Depth plot should align exactly with th

[2022-04-25 14:13] tanpinsiang commented on #3248
I am unable to get multiple GeoJSON features to work on the map panel. Could you share your JSON schema and JSON payload for this example?

[2022-04-25 14:16] foxymiles commented on #3248
@tanpinsiang You can see the GeoJSON we use for this storybook story here:

https://github.com/foxglove/studio/blob/47c358e3f4c8e8f1a5bd1188b1b1acc2659948df/packages/studio-base/src/panels/Map/index.stories.tsx#L256-L296

[2022-04-25 14:19] foxymiles commented on #3248
@tanpinsiang More specifically the actual GeoJSON message here:

https://github.com/foxglove/studio/blob/47c358e3f4c8e8f1a5bd1188b1b1acc2659948df/packages/studio-base/src/panels/Map/index.stories.tsx#L256-L296

[2022-04-25 15:57] foxymiles commented on #3233
Fixed in update to new settings.

[2022-04-25 15:57] #3233 closed

[2022-04-25 16:18] rgov commented on #551
Relatedly, it looks like there is also now support to stack two plots that share an *x* axis: https://www.chartjs.org/docs/latest/samples/scales/stacked.html

[2022-04-25 18:25] #2906 closed

[2022-04-25 18:30] #3248 closed

[2022-04-25 19:24] mlveggo opened #3258 "Be able to support compressed point cloud messages"
Lidar point clouds continue to grow and visualizing lidar point in realtime can use a lot of data. Practical amount using for example 4 spinning 128 channel lidars on a vehicle will grow above 1Gb/s.

So I would propose to support some sort of compressed point cloud (gzip:ed, quantization) -> _foxglove.CompressedPointCloud_.

Discussion in Slack:
https://foxglove.slack.com/archives/C028UEY858S/p16

[2022-04-25 19:59] jessicaaustin commented on #3182
Ok i was able to demonstrate the same issue using just the foxglove/ros1 library, which (hopefully) simplifies things.

And I set up a demo at https://github.com/jessicaaustin/ros_demo/tree/main/remote_subscriber so that you can run the test via Docker containers, so that eliminates possible differences with our ROS/linux setup.

Unfortunately there still could be differences in networking between

[2022-04-25 20:32] foxymiles commented on #3146
Another way to repro this:

1. Wait until the plot has spooled up data for a few minutes and starts to get slow.
2. Quickly enter a random gibberish message path like "asdfasdfasf"
3. Hit command-A to select it then back space to delete the whole path.

Repeat this quickly and you can see the updates are dropped entirely sometimes.

[2022-04-25 21:18] #3165 closed

[2022-04-25 21:46] jhurliman commented on #3096
Fix is landing now: https://github.com/foxglove/studio/pull/3259

[2022-04-25 23:03] f-o-w-l opened #3260 "Watching allFrames crashes Foxglove"
I would love access to the full file path of the currently open data source from a custom extension, so that I can run logic that also reads the source file from an extension.

[2022-04-26 01:02] jhurliman commented on #2926
Still present:

https://user-images.githubusercontent.com/195374/165198320-21ff1973-86f9-4be7-99f4-61414b64e927.mp4

[2022-04-26 03:42] tanpinsiang commented on #3248
Thanks for the help, I am using the ws protocol foxglove.GeoJSON. I tried the GeoJSON above, however, the map panel is blank and this is the error from chrome console.
My platform is Ubuntu 20.04 Chorme Version 100.0.4896.127 (Official Build) (64-bit)
![Screenshot from 2022-04-26 11-35-02](https://user-images.githubusercontent.com/1716735/165215574-e9a114f8-8039-4725-93ff-60aa725e713e.png)

`react

[2022-04-26 11:53] foxymiles commented on #3248
Thank you for the extra detail. Would it be possible for you to show me the entire GeoJSON message you're sending, including the definition of the coordinates?

[2022-04-26 11:58] #2997 closed

[2022-04-26 12:59] tanpinsiang commented on #3248
This is the [code](https://gist.github.com/tanpinsiang/99cdc525baca3c415f5d4835d0f8fbaa.js) I am using to send the websocket packet.
This is the GeoJSON. Thanks again.
[code]

[2022-04-26 13:01] darduck18 commented on #3208
I check many times,there is no error,but it also display green background.I think the issue is no case by this error.

[2022-04-26 13:17] foxymiles commented on #3248
@tanpinsiang Thanks for the code example. I think your issue is that the GeoJSON all needs to be under a `geojson` key as shown in the message definition here:

https://foxglove.dev/docs/studio/messages/geojson

Can you please try moving your data under that toplevel key?

[2022-04-26 14:38] foxymiles commented on #3248
Ok good looks like we're making progress.

Currently the map panel also expects one non-GeoJSON point to use as the center. Could you please also try sending one point as a single point of type `foxglove.LocationFix` to set the map center?

[2022-04-26 15:15] tanpinsiang commented on #3248
OK. This is my [code](https://gist.github.com/tanpinsiang/99cdc525baca3c415f5d4835d0f8fbaa) to send both `foxglove.LocationFix` and `foxglove.GeoJSON`. It this the correct way to send both channel together? The map panel is working but it is blinking between the two message.

[2022-04-26 15:22] foxymiles commented on #3248
Yes that looks correct. The map panel will continue to show the most recently received message on the topics so you don't need to re-publish the message unless it's changed. That should eliminate the flickering.

If you have any followup questions could you please post them on our slack at https://foxglove.dev/slack?

[2022-04-26 16:14] tanpinsiang commented on #3248
Awesome! Thanks!

[2022-04-26 17:53] defunctzombie commented on #551
That stacked plots feature is interesting!

[2022-04-26 18:49] bryfox commented on #3227
Certainly doable; I think the trick will be the zone abbreviations — may need to pull in a tz database/library or find some way to work with that using `Intl`.

[2022-04-26 21:18] amacneil opened #3266 "3d panel sidebar issues"
**Description**

- for first option: clicking "on" should always set on state rather than toggle
- for 2nd/3rd options: there seems to be a weird 3rd state (nothing selected) that we need to remove

https://user-images.githubusercontent.com/637671/165393654-721905e5-1849-4584-a838-c177378f0acd.mov

[2022-04-26 22:01] #3266 closed

[2022-04-27 05:02] amacneil commented on #3227
understood re taking up more space. the goal of this ticket is just making copy pasting easier, we can solve that in the studio side or the console side.

although FYI the default studio format is `8:28:47.746 PM PDT` which doesn't give me the date so it's not going to be helpful. maybe we can make it easier to copy the full ISO8601 somewhere in studio.

[2022-04-27 05:06] amacneil opened #3269 "Opening sample dataset via deep link URL should not show the connection dialog"
**Description**
Opening either of these links shows the connection dialog. It should instead just show the content I requested.

https://studio.foxglove.dev/?ds=sample-nuscenes
https://studio.foxglove.dev/?ds=sample-nuscenes&layoutId=1ada79c8-2f73-4afc-bc46-b63848ba0abf&time=2018-07-24T03%3A28%3A47.746950999Z

- Version: latest main
- OS: web

[2022-04-27 12:02] kis-balazs opened #3270 "Map Panel missing option dropdown button - v1.9"
Map Panel missing presented option dropdown button.

Screenshot taken in v1.7, where the button exists.
![image](https://user-images.githubusercontent.com/25155919/165513833-b88fe5ed-5eae-44a3-8f86-65be98f6d1ce.png)

- Version: 1.9
- OS: Windows x64

[2022-04-27 13:24] foxymiles commented on #3241
We've temporarily turned these off until we have thought through a bit more how we want them to work.

[2022-04-27 13:24] #3241 closed

[2022-04-27 13:39] mlveggo commented on #3258
Also added an issue to include this as a standard ROS message. https://github.com/ros2/common_interfaces/issues/188

[2022-04-27 14:30] foxymiles commented on #3270
This has been migrated to the new settings panel, which you can access by clicking on the settings icon in the left side toolbar.

<img width="583" alt="Screen Shot 2022-04-27 at 9 29 18 AM" src="https://user-images.githubusercontent.com/93935560/165542280-b84cc73a-348d-4832-a01a-832893cc2307.png">

[2022-04-27 14:31] kis-balazs commented on #3270
Thanks, issue closed

[2022-04-27 14:55] BorisKontorovich opened #3272 "ROS2 node crash in CycloneDDS when connecting with Foxglove Studio"
**Description**
My ROS2 package crashes when running with FoxGlove

- Version: v1.9.0
- OS: Ubuntu 20.01

**Steps To Reproduce**
1. Connecr 1 Intel RealSense D435 camera
2. Run Intel RealSense ROS2 Wrapper
3. Open Foxglove studio

**Expected Behavior**
Foxglove can display published images

**Actual Behavior**
Intel RealSense ROS2 Wrapper crashes a few seconds after FoxGlove is started.

Error:
[c

[2022-04-27 15:30] defunctzombie commented on #3272
@BorisKontorovich This looks like an error with your ROS2 node and not an error from Studio. I'd recommend looking into why the node is crashing as this would be specific to the node's logic. Maybe open an issue with the authors of the Intel RealSense ROS2 Wrapper with your above trace.

[2022-04-27 16:48] #3096 closed

[2022-04-27 18:10] BorisKontorovich commented on #3272
Can you give me some ideas how I can try foxglove with a camera?

[2022-04-27 18:11] #3199 closed

[2022-04-27 18:40] jessicaaustin opened #3274 "Loading layouts sometimes takes a long time"
**Description**

When I open the Layouts side panel, sometimes it takes a few seconds for the layouts to load. Today, things were especially bad, with loading taking 30s or more at times.

https://user-images.githubusercontent.com/1159930/165590102-fe5833f9-9f52-4180-b7ee-24e55a058df3.mp4

This also happens after the Layout panel loads for the first time -- it looks like it gets refreshed periodic

[2022-04-27 19:59] jhurliman opened #3276 "Pressing up/down arrows in settings sidebar number input does not respect `step`"
Pressing the left/right arrows for a number input in the settings sidebar properly respects the `step` setting, but pressing up/down arrow keys on the keyboard always steps by `1.0`.

[2022-04-27 20:10] foxymiles commented on #3274
Thanks again for taking the time to write such a careful & detailed bug report!

[2022-04-28 01:27] jessicaaustin commented on #3274
Yeah I should be clear I don't think this is a bug necessarily, more of a UX issue. If I'm pushing the limits of Studio and the laptop, I'd like to be able to turn down the frequency of Layout rendering, similar to how I can turn down the Message Rate in the settings, so that I can still navigate layouts when resources are low. (Or some other approach to deal with it, this is just an idea) Thanks

[2022-04-28 04:34] jhurliman opened #3277 "Settings sidebar issues"
I've been implementing the settings sidebar in the 3d panel and overall it looks great! Here are the issues I've encountered:

- [x] 3D panel drops many frames when panning the camera (updating the sidebar) with all topic settings implemented
- [x] The default sidebar width is not wide enough for almost any of the topic settings labels. they are cut off with ellipses
- [x] Settings nodes need an o

[2022-04-28 15:13] #3027 closed

[2022-04-28 16:58] defunctzombie commented on #3198
@jhurliman FYI this issue is about the current 3d panel rather than the new 3d panel. We need to fix this in the current one. I imagine the fix here is to inform the user of any attempt to load an unsupported extension rather than failing or ignoring silently.

[2022-04-28 18:25] #3269 closed

[2022-04-28 18:40] defunctzombie commented on #3227
It could be nice to show a tooltip? when you hover over the timestamp that has the timestamp in unix epoch or human readable (ISO). You don't have to change your settings to copy either one.

@2metres thoughts on using a tooltip here or if there's a better control or technique?

[2022-04-28 18:44] amacneil commented on #3227
How do you copy the text from the tooltip?

On Thu, Apr 28, 2022 at 11:40 AM, Roman Shtylman < ***@***.*** > wrote:

[2022-04-28 18:57] defunctzombie commented on #3227
Thats the age old question.

:trollface: maybe we need a panel who's sole purpose is to show you the current timestamp in every possible format.

[2022-04-28 18:59] amacneil commented on #3227
Just stick a small copy icon in the text box, and when you click it copy the full timedatestamp rather than the time-only timestamp. No one is going to be confused by that.

On Thu, Apr 28, 2022 at 11:57 AM, Roman Shtylman < ***@***.*** > wrote:

[2022-04-28 20:28] #3188 closed

[2022-04-28 20:56] BorisKontorovich commented on #3272
Anything?

[2022-04-28 21:37] amacneil opened #3282 "Proposal: remove "header stamp" playback dropdown"
No one can tell me what this dropdown is used for:

<img width="260" alt="image" src="https://user-images.githubusercontent.com/637671/165849920-f95f2fc6-45b2-4d38-a742-388c35afd33c.png">

The 3d panel seems to ignore it, and uses header stamp or receive time depending on the topic. The plot panel definitely ignores it and uses its own per-series settings. So I'm not clear what this dropdown actua

[2022-04-28 21:41] amacneil opened #3283 "Adding decay time makes point cloud disappear"
**Description**
I have a file with sensible receive times in a PointCloud2 message, and incorrect "header stamp" values.

Playing back this file works fine. However, if I add "decay" to the topic in 3d panel, the 3d panel goes blank.

<img width="474" alt="image" src="https://user-images.githubusercontent.com/637671/165850137-85b5e7b3-84ba-4001-bfbd-ea244b083e77.png">

Apparently this is due to th

[2022-04-28 21:52] jameskuszmaul-brt commented on #2792
+1 to this. Not sure what the reference to "team layouts" is, but being able to load in with multiple useful layouts available to the user would be great as well. But just getting a single default layout via remote url + deep linking would be amazing.

[2022-04-28 22:31] jameskuszmaul-brt opened #3284 "Variables don't work in quoted topic names"
**Description**

I've got topic names that require escaping (which was solved by #2891), but I don't seem to be able to use variables in my topic names (I don't know if variables are supposed to be usable in normal topic names either, admittedly). I'd like to be able to do something like:

`"/\$machine_name/topic name".xyz`

**Steps To Reproduce**

Can provide a bag file as needed.

**Expected Beh

[2022-04-29 00:49] jtbandes commented on #3284
Converting to a feature request – variables don't work in topic names currently, only filters.

[2022-04-29 01:42] rgov opened #3285 "Studio freezes when trying to step forward towards the end of a rosbag"
**Description**

- Version: 1.9.0
- OS: macOS 12.3.1

**Steps To Reproduce**

Open a particular bag file, seek to the very end, keep stepping forward to try to find the last message.

**Actual Behavior**

UI becomes unresponsive. If Inspector is already open, then I see a very rapid log spew of identical messages like this. The playback head appears to jump back to the beginning of the file.

<img

[2022-04-29 02:27] jtbandes commented on #3272
Are you able to view raw data with `ros2 topic echo /my_camera_topic`?

@jhurliman Could you look into this as it appears to be DDS related? Is there a chance our RTPS implementation is generating some kind of id wrong, or doing something that triggers a bug in cyclonedds?

Looks like the assertion is here:

https://github.com/eclipse-cyclonedds/cyclonedds/blob/3c81d2856aa088e48d2e9f2365c53c2591ee

[2022-04-29 05:55] liamreneroy opened #3287 "Foxglove Teleop properly publishes to ROS topic but robot doesn't respond"
**Description**

I am trying to control my Jackal robot using the Teleop feature within Foxglove. To control the robot, you must publish to the ROS topic /cmd_vel

I am able to publish to the /cmd_vel topic using the Teleop feature within Foxglove. I've confirmed that Foxglove is in fact publishing to this topic by running "rostopic echo /cmd_vel". Even though Foxglove seems to publish to the topi

[2022-04-29 14:01] defunctzombie commented on #3285
Confirming I am able to reproduce. Looking into this.

[2022-04-29 14:02] defunctzombie commented on #2629
@2metres do we still want to do this? Its assigned to you right now so we should either push it along or un-assign and backlog it.

[2022-04-29 14:05] defunctzombie commented on #1961
@jtbandes I think this might be specific to the current data platform player and not the new iterable player. The iterable player keeps only the messages a user wanted to preload in blocks and when loading new blocks only fetches the topics missing from the block. It does still evict whole blocks but that is by design since that's when we've determined we no longer have enough space to hold the da

[2022-04-29 14:05] #1961 closed

[2022-04-29 14:26] defunctzombie commented on #3227
We are already constrained on space in that text box at times. I often see the time run past the end of the display. We'll see what we can come up with.

[2022-04-29 15:33] defunctzombie commented on #3274
While not all aspects of this might be a bug - I think its a bug that the layout list isn't showing even tho its already been cached locally (from what I've read in your report) - or that you can't select a layout while the list is loading in the background. It didn't sound to me like Studio itself was under load from playback at the same time.

[2022-04-29 15:47] xczhanjun opened #3289 "Fully support autoware universe"
Ros2 based  Autoware universe is under active development, this is a good opportunity for foxglove to grow together with autoware.

[2022-04-29 17:08] jessicaaustin commented on #3274
Yes, this appears to be what is happening. I see the network call to `/layouts`, then I see the spinner at the top of Layouts start spinning, and while it's spinning if I click another layout it doesn't load until the spinner stops. I assume the spinner indicates layouts are being refreshed.

[2022-04-29 17:55] ccpowers commented on #3215
Yeah, seems like that would be the same thing

[2022-04-29 18:19] defunctzombie commented on #3285
@rgov I've identified the issue and created a fix in #3291. We'll get this in the next release on Monday.

[2022-04-29 19:24] defunctzombie commented on #3287
We've published v1.9.1. Please give that a try and see if it resolves the issue.

[2022-04-29 20:04] foxymiles commented on #3146
Fixed by https://github.com/foxglove/studio/pull/3281 https://github.com/foxglove/studio/pull/3290

[2022-04-29 20:39] jhurliman commented on #3272
I can't reproduce this issue yet, but I've found at least one bug related to `DATA_FRAG` handling (large payloads such as image topics). I'm looking into it now.

[2022-04-29 20:39] jhurliman commented on #3272
I can't reproduce this issue yet, but I've found at least one bug related to `DATA_FRAG` handling (large payloads such as image topics). I'm looking into it now.

[2022-04-30 01:16] defunctzombie commented on #3289
@xczhanjun Is there something specific you have in mind? Foxglove already works with ROS2 systems.

[2022-04-30 01:19] defunctzombie commented on #3276
@foxymiles assigned to you since it is settings UI related

[2022-04-30 21:16] MathieuMarchand opened #3293 "When a connection to a topic is reestablished, it should clear the errors"
**Description**
When a node that publishes on a topic is killed or dies and a custom extension panel is subscribed to this topic, an error message is displayed on foxglove. But when the node is re-run and the topic is being used again, the error is not cleared even though the whole system is valid.

- Version: 20.04.4
- OS: Ubuntu

**Steps To Reproduce**
1. Subscribe to a topic on a custom extensi

[2022-05-01 15:51] rgov opened #3294 "Plot does not correspond to latest message"
**Description**

- Version: 1.9.0
- OS: macOS 12.3.1

**Steps To Reproduce**

I opened a bag file (second in a series, `*_1.bag`) and seeked to close to the end. I opened a Plot panel and a Raw Message panel showing the same data.

**Expected Behavior**

All panels are in sync with the current playback position.

**Actual Behavior**

The plot of a particular value seems shifted. For instance the R

[2022-05-02 08:45] liamreneroy commented on #3287
Does not seem to have resolved the issue after trying Foxglove v1.9.1

After further investigation using rqt_graph, it appears that Foxglove node is not properly publishing to the active /cmd_vel topic.

I dont fully understand how that could happen, but when I run "rosrun rqt_graph rqt_graph" WITHOUT having "rostopic echo /cmd_vel" running, it appears that the Foxglove node is not linked with any

[2022-05-02 09:08] liamreneroy commented on #3287
As a further check, I also ran "rostopic hz /cmd_vel"

No matter what publish rate I entered in Foxglove, "rostopic hz /cmd_vel" didn't pick up any published messages.

[2022-05-02 16:43] foxymiles commented on #3277
@jhurliman The number of digits shown seems like something we should leave up to panel implementers to implement when they build the settings tree.

[2022-05-02 17:11] foxymiles commented on #3277
For rgba colors do you want them as css `rgba()` style strings or as 8-digit hex numbers?

[2022-05-02 17:30] foxymiles commented on #3277
Actually it looks like our current color picker widget doesn't handle 8 digit hex numbers well so for now it's just going to be `rgba()`.

[2022-05-02 20:05] defunctzombie commented on #3294
@rgov Is the plot series for `/ctd/depth.depth` using `header.stamp` time for plotting or `receive time`?

[2022-05-02 20:23] rgov commented on #3294
`header.stamp`

[2022-05-02 21:16] amacneil opened #3297 "Seeking with new default bag player causes black screen flickering"
**Description**
New experimental bag player shows black screen while seeking. This is quite jarring and significant regression from the old bag player.

- Version: main
- OS: mac/web

https://user-images.githubusercontent.com/637671/166329122-f970c13c-9dce-4713-9b7c-83e1e93c8244.mov

[2022-05-02 23:23] defunctzombie commented on #3294
Ok that makes sense. Here's the explanation.

When you plot data by `receive time` or `header.stamp` the `x-axis` represents the _time_. The difference is that when you plot using `receive time` the x-values from the `receive time` and when using `header.stamp` the x-values come from the message header stamp.

The confusion here is that the gray line x-value is always the receive time. So when it

[2022-05-02 23:28] defunctzombie commented on #3159
@iandouglas96 I've not heard back. I am going to close this issue because I think it is specific to rosbridge. Rosbridge for ROS1 does have performance limitations since it is written in python and also de-serializes the message data prior to re-serializing for sending. It is on our radar to improve this for rosbridge.

_by design_ Studio does not block on rendering waiting for a specific transfor

[2022-05-02 23:28] #3159 closed

[2022-05-02 23:37] defunctzombie commented on #3208
From my reading of the issue it sounds like the problem originally shown in the console (expected poses count was wrong) is no longer happening so I don't understand why it appeared in the original console logs.

We've not been able to reproduce this issue so our latest thinking is that its specific to your VM or graphics driver. Given the disconnect in our ability to reproduce this I am not sure

[2022-05-02 23:37] #3208 closed

[2022-05-03 00:01] rgov commented on #3294
I guess I understand, and I do see on the Raw Message panel that that the receive time is `1651337130` and the `header.stamp.sec` is `1651337106` (~24 seconds earlier). I was not expecting the clock on the instrument generating these depth messages to be so far off.

[2022-05-03 00:05] iandouglas96 commented on #3159
It is rosbridge specific, but it might be helpful to provide an option to wait for a specific transform, or at least wait for a transform more recent than the target time, in order to mitigate these sorts of problems.  I believe rviz does something like this, since visualization will often only update as frequently as a lower frequency transform in the tf tree.

[2022-05-03 00:29] defunctzombie commented on #3287
This issue might be related/similar to https://github.com/foxglove/studio/issues/3182

/cc @jtbandes we can join forces to debug this depending on where you are with the other issue.

[2022-05-03 01:19] jhurliman commented on #3272
Although I haven't been able to reproduce this specific crash, I did find some issues with our protocol handling related to large messages while testing the ros2_realsense_camera node. They have been fixed in https://github.com/foxglove/rtps/pull/18 which will bubble up to a Studio fix soon.

[2022-05-03 04:41] #3285 closed

[2022-05-03 15:10] defunctzombie commented on #3294
Real world problems.

[2022-05-03 15:14] defunctzombie commented on #3294
I'm gonna close this out since the current behavior is by-design. I think there's definitely something more here around visual indication but its not an easy problem to solve because header.stamp could really be in any order so placing the playback marker on a plot with header stamp values is always going to create the possibility of skew like this. I could say that we should never show the playba

[2022-05-03 15:16] defunctzombie commented on #3282
The dropdown would affect _playback_. Imagine "Header stamp" means "publish time" playback. The problem tho is that none of the data we typically play is indexed in a manner to support such a playback "correctly". Right now I believe the player logic buffers some window of data, re-orders it by header stamp, and then plays that.

[2022-05-03 15:26] foxymiles opened #3301 "Remove old settings UI code"
**Description**
Now that the panels have all been converted to our new settings UI we can remove the old settings code and schemas.

[2022-05-03 16:18] #3276 closed

[2022-05-03 17:36] ccpowers opened #3303 "Preserve raw message expansion when switching tabs"
If a raw messages panel is inside of a tab panel, and you switch away from that tab, the state of the raw messages panel is not preserved.

You can see this by:
1. Adding a tab panel to your layout
2. Adding a raw message panel in a tab
3. Expanding the message so that the whole header (or other piece of the message) is displayed
4. Click to another tab, and then click back to the raw message pane

[2022-05-03 18:01] defunctzombie commented on #3182
@jtbandes I'm gonna pick this up since I think its related to the other issue and I've got some cycles to put towards this.

[2022-05-03 18:01] foxymiles opened #3304 "Move settings sidebar import/export and reset to defaults buttons into a context menu"
**Description**
These buttons are too prominent but the functions are still useful so let's move them into a context menu alongside the top heading in the panel settings sidebar.

- Version: 1.9.1
- OS: all

<img width="391" alt="Screen Shot 2022-05-03 at 1 00 46 PM" src="https://user-images.githubusercontent.com/93935560/166514086-f32b6599-9a6f-4ba8-8c5f-b1d3053a43c5.png">

[2022-05-03 18:28] #3301 closed

[2022-05-03 19:56] defunctzombie commented on #3182
@jessicaaustin I ran the instructions from https://github.com/foxglove/studio/issues/3182#issuecomment-1108981631 using @foxglove/ros1 @ d08dfb9d02a644aff93450100ae5fa3a678d840b

I was not able to reproduce the error you are seeing. My chatter_listener (in my VM) was able to connect to the @foxglove/ros1 publisher from my host:

<img width="1247" alt="image" src="https://user-images.githubusercont

[2022-05-03 20:32] jessicaaustin commented on #3182
@defunctzombie Thanks for taking a look! Yep makes sense about checking ROS_HOSTNAME etc, I tried to make sure I had that all set up properly but of course it's easy to make mistakes. I'll try again today/tomorrow with fresh eyes.

[2022-05-04 00:03] #1927 closed

[2022-05-04 14:37] BorisKontorovich commented on #3272
I tried the settings in foxglove/rtps#18<https://github.com/foxglove/rtps/pull/18> but it still runs into the same problem.
[https://opengraph.githubassets.com/552c744bda0a11ded849ced698ac6ae02f8b70aa52b4c12dc0e02c5787c5ae03/foxglove/rtps/pull/18]<https://github.com/foxglove/rtps/pull/18>
Fixes for receiving large messages by jhurliman · Pull Request #18 · foxglove/rtps<https://github.com/foxglove

[2022-05-04 17:17] jtbandes commented on #1927
I filed another ticket to track this recently for images: https://github.com/foxglove/fox/issues/38

[2022-05-04 17:24] jtbandes commented on #3303
Given the fixes @defunctzombie made in https://github.com/foxglove/studio/pull/2710, I am surprised this issue occurs in a tab...

[2022-05-04 18:01] defunctzombie opened #3310 "Move Rosbridge as first option in connection dialog"
We want to promote rosbridge as the primary way for ROS users to connect to ROS systems. Move it up in the new connection dialog.

[2022-05-04 18:39] foxymiles commented on #3283
Looks like this is a consequence of this change: https://github.com/foxglove/studio/pull/2986

[2022-05-04 19:16] defunctzombie commented on #3303
@jtbandes When you switch tabs I believe the mosaic re-mounts all the components. #2710 tracks during the lifetime of the component but not if the component itself is no longer present.

[2022-05-04 21:11] amacneil commented on #2722
<img width="391" alt="image" src="https://user-images.githubusercontent.com/637671/166826511-59bdcb3f-10d3-4b3a-869b-3fa8cf2b39cb.png">

[2022-05-04 22:33] #3297 closed

[2022-05-04 22:54] defunctzombie commented on #3287
Fixed by https://github.com/foxglove/studio/pull/3309

I've tested this fix and was able to get the robot to move in gazebo. This fix will be in the next release.

[2022-05-04 22:54] #3287 closed

[2022-05-05 00:03] #1925 closed

[2022-05-05 00:49] defunctzombie commented on #2926
@jtbandes assigning to you. I think your PR is 👍 and we can go from there.

[2022-05-05 02:55] #2926 closed

[2022-05-05 06:05] amacneil opened #3315 "Render depth images in 3d panel"
Several folks have requested the ability to render depth images directly in the 3d panel. Currently we only support this if they are pre-converted into a point cloud, which results in significant amounts of extra data.

I'm not sure how these are typically represented in ROS, so I invite anyone interested in this to comment below with what message type they are using to encode depth images.

[2022-05-05 14:46] TeeJayR opened #3318 "Foxglove Studio (1.9.1) Crashes - "Array buffer allocation failed""
When I load my ROS bag (duration ~6 min, ~5GB) into Foxglove Studio (version 1.9.1) I reproducibly get an "Array buffer allocation failed" when plotting a signal in a single plot widget. Sometimes the whole GUI just freezes without even showing the error. The signal I want to plot has a frequency of ~25 Hz (>9000 messages).

Is that a known issue? Any hint on how this can be traced down further?

[2022-05-05 14:48] TeeJayR commented on #3318
@foxymiles Ah, sorry, forgot that info: Ubuntu 20.04.

[2022-05-05 14:50] foxymiles commented on #3318
Thanks for the extra details. Can you also please provide a bit more detail on the type of message you're recording and plotting?

[2022-05-05 14:54] TeeJayR commented on #3318
It is a custom ROS message, but in the end I select a `float32` to be plotted over time.

[2022-05-05 17:01] clementchef commented on #3315
In the case of realsense cameras, the depthmap are encoded as sensor_msgs/CompressedImage compressed in png (lossless). Each pixel is a 16bit depth in mm see https://www.ros.org/reps/rep-0118.html#id4 OpenNI representation.
0 value pixel means undefined.
The conversion to pointcloud requires the depth_image, the camera_info to create the directional vectors (computed once) and optionally the rgb i

[2022-05-05 17:50] TeeJayR commented on #3318
Unfortunately I am not allowed to share the exact same bag.

In order to isolate the problem I tried to filter the bag for only the topic I want to plot (which causes the crash in the original bag), but this does not reproduce the error (eventhough the bag still has the same length and also uses the same compression, which is lz4 in my case).

I also tried to decompress the original bag, but the c

[2022-05-05 17:54] ccpowers commented on #3303
A similar thing happens with other components in tabs, i.e. plot panels, which will re-plot all the data on opening, which can take a while. Probably also caused by re-mounting all components.

[2022-05-05 18:27] foxymiles commented on #3318
Thanks for the extra info.

One more question. If you go into your settings is "Experimental Bag Player" turned on? If so can you please try turning it off then reloading the app and trying your bag again?

<img width="248" alt="Screen Shot 2022-05-05 at 1 26 20 PM" src="https://user-images.githubusercontent.com/93935560/166991788-67281e61-47a9-4d1a-a124-f2df9cd41372.png">

[2022-05-05 18:33] TeeJayR commented on #3318
The experimental bag player (and all other experimental options) are turned off. Activating it also does not make a difference - the app still crashes.

[2022-05-05 18:33] foxymiles commented on #3318
Ok thanks for running that extra test.

[2022-05-05 18:47] TeeJayR commented on #3318
Hm, after I activated the experimental bag player once and deactivated it again the behavior is different, and the app does not crash anymore. Seems the GUI checkbox was initially just shown deactivated, but the experimental bag player was indeed turned on? I can now reproduce, that the crash is only happening with the experimental bag player.

Without the experimental bag player, the preloading/c

[2022-05-05 18:50] TeeJayR commented on #3318
One more thing I found: If I cancel the inital welcome dialog to go to the settings, and I change the experimental bag player checkbox state there, the "+" button of the "Data source" dialog disappears. So basically, after toggling the state of the experimental bag player, I have to restart the app. Is that known?

[2022-05-05 19:12] TeeJayR commented on #3318
As far as I can see the default behavior of the experimental bag player changed here: https://github.com/foxglove/studio/pull/3249 I am not familiar with the code base (yet?!), but maybe the GUI does not read the correct initial state of the checkboxes after a fresh install?

[2022-05-05 19:23] jhurliman commented on #3272
@BorisKontorovich the fixes made in the linked PR are needed as well. They will be included in the next release (1.10.0) which should go out on Monday May 9th.

[2022-05-05 19:39] foxymiles commented on #3318
Yes you're right we recently changed the experimental bag player to be the default.

So far I'm not seeing the issue you mention with the `+` disappearing. You're using the linux desktop client right?

[2022-05-05 19:43] TeeJayR commented on #3318
Correct.

[2022-05-05 21:00] jaggiK commented on #3315
@amacneil  This would be a great feature to have.
Here are the message types:
depth image : sensor_msgs/Image (16 bit)
camera info:  sensor_msgs/CameraInfo
for color data: sensor_msgs/Image (usually 8 bit)
Happy to help if you need more information in developing this useful feature.

[2022-05-06 02:01] #3310 closed

[2022-05-06 12:13] #3304 closed

[2022-05-06 13:46] jtbandes commented on #2722
Another possible solution is to switch to an existing layout with the same name, but not overwrite, only create a new one if it doesn’t exist already.

[2022-05-06 18:10] amacneil commented on #2117
@adrienbarral would your needs be covered by https://github.com/foxglove/studio/issues/2792? I know that issue is more recent than yours, but it has more active discussion so I think we should merge your ticket with it.

[2022-05-06 19:30] RFRIEDM-Trimble opened #3336 "Support heading in Map panel"
If I use google maps, it shows my dot as well as my heading like so:
![image](https://user-images.githubusercontent.com/50461358/167204514-015e5fb4-23a9-40a3-b4b5-42a150bf738d.png)

The Map panel currently supports nav_msgs/msg/NavSatFix, which does not have a heading in the message.

My proposal is to support one of the GeoPose* messages here:
https://github.com/ros-geographic-info/geographic_inf

[2022-05-06 19:30] RFRIEDM-Trimble commented on #3336
Related to #3123

[2022-05-06 21:02] f-o-w-l commented on #3260
Instead of a file path actually, it would be even better as a `File` object, given that a `File` is required for [rosbag.js](https://github.com/cruise-automation/rosbag.js#opening-a-new-rosbag-reader) for parsing in the browser =)

[2022-05-06 23:12] #3043 closed

[2022-05-06 23:52] #3119 closed

[2022-05-07 15:20] defunctzombie commented on #3260
Currently, the architecture of Studio is such that individual panels (and panel extensions) do not handle the data source. They are provided messages from the data source from the current playback (or even the entire range with the allMessages field). This is so that a panel, once authored, works across live and recorded data without having to handle such logic itself.

Could you elaborate more on

[2022-05-07 15:24] defunctzombie commented on #2722
Here is where the logic lives that handles layout _things_ attached to a data source factory:

https://github.com/foxglove/studio/blob/main/packages/studio-base/src/components/PlayerManager.tsx#L161-L177

[2022-05-07 15:30] defunctzombie commented on #3318
I have a bag file where I am able to reproduce Array Buffer Allocation failed. So far I've not been able to track down the root cause. It only happens with the experimental bag player. I originally thought it was a leak but that hasn't turned out to be the case in my findings _so far_. I've been working on logic changes to the experimental bag player which seem to resolve the issue by using a diff

[2022-05-07 16:07] f-o-w-l commented on #3260
No problem, I need to search all of the messages on a given topic for some data, so it made much more sense to me to load the file through `rosbag.js` than it did to run `context.seekPlayback` millions of times for every timestamp.

It sounds like `allMessages` is exactly what I'm looking for, however GitHub says "We couldn’t find any code matching 'allMessages' in [foxglove/studio](https://github

[2022-05-07 23:27] amacneil opened #3338 "Rename Node Playground"
"Node Playground" is not particularly descriptive, and many users are surprised to learn what it does. The term "Node" is also confusing, because Node Playground scripts are not published back to the data source (and we have no plans to support that).

Some suggestions have been put forward:
* User Scripts
* User Functions
* Function Editor
* Live Functions
* Data Transforms (potentially confusing

[2022-05-08 01:09] defunctzombie commented on #3338
* Scripts

[2022-05-08 01:10] defunctzombie commented on #3338
Function could be interesting but might also be something we want to use with custom plot functions?

* Message Transformer
* Message Scripts
* Topic Scripts

[2022-05-08 04:34] amacneil commented on #2722
Let's try @jtbandes's suggestion. If the user wants to restore the original sample layout, they can delete the sample layout and it will get recreated. Otherwise, we just switch to their existing sample layout.

[2022-05-08 04:37] amacneil commented on #2722
@foxymiles want to take this one?

[2022-05-08 05:06] amacneil commented on #3338
Do you think we will have a concept of custom plot functions separate from node playground? Or just make it easier to define an inline NP script to generate plot series?

[2022-05-09 07:46] adrienbarral commented on #2117
@amacneil  : Yes you're right. I think we can close my ticket, and follow #2792

[2022-05-09 07:46] #2117 closed

[2022-05-09 11:32] foxymiles commented on #2722
@amacneil Sure, I'll have a go.

[2022-05-09 13:18] foxymiles commented on #3303
Yeah looks like we only render the selected tab so any ephemeral state is going to get lost when switching to a new tab.

https://github.com/foxglove/studio/blob/6e2c8ca905e582d14dfeb95dd351bfc94698ec3d/packages/studio-base/src/panels/Tab/index.tsx#L108-L131

[2022-05-09 14:08] defunctzombie commented on #3303
We could preserve raw message expansion in the layout - but then that means all those changes persist to the layout. We don't have a separate _local_ state concept thats distinct from the saved layout. Given the current architecture of tabs and layouts I'm not sure what the ideal strategy is here. I think we'd need some state that lives neither in a layout nor in the individual component.

[2022-05-09 14:13] foxymiles commented on #3303
I guess we could always render all panels in the tab set and just hide the ones that aren't selected? That would unfortunately mean you take the performance hit for rendering panels that aren't visible.

[2022-05-09 14:19] AndrewNolte opened #3341 "Label oriented wrong way"
**Description**

![image-20220505-043435](https://user-images.githubusercontent.com/24322714/167430067-a88d952e-58d6-4c18-96b0-071c300e21e3.png)

- Version:
- OS:

**Steps To Reproduce**

**Expected Behavior**

**Actual Behavior**

[2022-05-09 14:20] jasonimercer commented on #2792
A nice blend between the old webviz feature of 1 hosted layout and the current Foxglove abilities would be to allow us to load a set of named layouts from a URL/json file.

In our webviz use-case we can launch the viewer using different layouts for realtime technical observations of the state of the robots at "dark sites" where there is no internet access. We'd like to transition to Foxglove and t

[2022-05-09 14:23] foxymiles commented on #3303
Yeah and this is further complicated in the case of the raw messages panel since the expand/collapse state may really only make sense for a particular message and requires a received message.

[2022-05-09 14:26] amacneil commented on #2792
Importing comment from https://github.com/foxglove/studio/issues/2117#issue-1048474869

[2022-05-10 01:11] defunctzombie commented on #3303
Quick UX question here - have you tried the icon to expand all? Maybe your message has other fields you don't want to expand?

Would it help to auto-expand certain fields? Maybe thats getting too much into the territory of magic rather than just saving what you expanded in the first place.

👍 thanks for the feedback

[2022-05-10 13:24] foxymiles commented on #3318
@TeeJayR If you try loading your bag into the preview deployment here do you get the same error? https://studio-7cdp26sdi-foxglove.vercel.app/

[2022-05-10 19:40] jackiescanlon opened #3344 "Failure to connect to ROS 1 live connection to a ROS instance on another computer"
**Description**
Starting on May 6th, when attempting to connect to a ROS instance on another machine, my team is experiencing this issue:

![image](https://user-images.githubusercontent.com/43035541/167707984-c660d2e3-19c9-40bf-b84a-b69adf4a4b8f.png)

No data will come through, but it will show me all the topic names available.
This does not happen when using Foxglove on the same machine that ROS

[2022-05-10 21:10] jhurliman commented on #3344
Can you resolve the displayed hostname to an IP address on the computer where Studio is running?

[2022-05-10 22:34] jhurliman opened #3345 "rgba8 support for raw images"
It is not currently possible to send raw images with an alpha channel. Supporting `rgba8` in this code block https://github.com/foxglove/studio/blob/main/packages/studio-base/src/panels/ImageView/lib/renderImage.ts#L132-L173 would resolve the issue.

[2022-05-11 00:02] #1966 closed

[2022-05-11 02:36] defunctzombie commented on #3054
https://studio.foxglove.dev/?layoutId=9999af94-710e-4154-bf7b-9af7c7f5aac5

[2022-05-11 07:08] TeeJayR commented on #3318
Unfortunately I can not open the preview version remotely due to information protection reasons. Any chance I can download a standalone/desktop version of the preview?

[2022-05-11 13:03] foxymiles commented on #3318
@TeeJayR I think we've identified the problem but are still discussing the best fix. I think we'll have a new desktop release out with the fix very shortly.

[2022-05-11 18:26] jhurliman opened #3350 "[New3D] Fix arrow orientation"
The output of the new 3D panel arrow storybook should match the old arrow storybook.

Old: http://localhost:9009/?path=/story/panels-threedimensionalviz--arrow-markers

![Screenshot from 2022-05-11 11-24-59](https://user-images.githubusercontent.com/195374/167920055-5abf9ee4-4c36-44fc-9eb2-0d4c9c3246cb.png)

New: http://localhost:9009/?path=/story/panels-threedeerender--arrow-markers

![Screenshot

[2022-05-11 22:31] f-o-w-l commented on #3260
Thanks so much!

I do wonder if in the future I might run into a false negative trying to search `allFrames` for data on a topic in a very large and long .bag. It could be helpful in that case to have access to the open file size or total duration, to detect whether I should use `allFrames` or `rosbag.js` for parsing. For now though, `allFrames` has been working well and I'm happy with closing thi

[2022-05-11 22:52] jackiescanlon commented on #3344
I can, but only using the alias I gave to it.

Your question led me to the answer. Basically, in my `/etc/hosts` file, I was calling that machine `sitl`. That machine knows itself as `mfcs-sitl` though. In Foxglove, I used to be able to connect to it via a `ROS_MASTER_URI` of `http://sitl:11311`, or `http://<true ip address>:11311`. All of sudden, that stopped working.

Now, *neither* a `ROS_MASTE

[2022-05-11 22:52] #3344 closed

[2022-05-12 04:21] soumith commented on #3344
I think I'm seeing the same issue, but I'm not at the luxury of changing my `/etc/hosts` file.

Is there a way we can make `http://<true ip address>:11311` work again?

[2022-05-12 04:24] soumith commented on #3344
I think my issue is worse. It doesn't even display the list of topics, it just spins / is stuck like this.

<img width="420" alt="Screen Shot 2022-05-12 at 12 24 36 AM" src="https://user-images.githubusercontent.com/1310570/167991855-ce1975a6-dd3a-4f43-9a55-30f352dfe6ca.png">

[2022-05-12 05:54] jhurliman commented on #3344
Studio packages its [own implementation](https://github.com/foxglove/ros1) of ROS1 comms, there are no shared libraries in use outside of the different version of Studio. It sounds like a networking change in the computer(s) running Studio or the network they're running on. Not being able to establish a ROS1 connection to https://<roscore_ip_address:11311/ is definitely a red flag. Can you curl th

[2022-05-12 11:43] marijapili opened #3353 "Displaying a map from disk in 3d panel"
A useful option would be the possibility to load a static map from disk to display in the 3d panel, so that we don't have to record the OccupancyGrid to the bag file to be able to visualize it.

A format similar to the one used for [http://wiki.ros.org/map_server](map_server) would be great.

[2022-05-12 14:13] defunctzombie commented on #3353
How would you want to identify what version of the map to load? What if the user does not have the maps on their local computer?

[2022-05-12 14:22] marijapili commented on #3353
The idea is that the user can define which file to load - for example, with the map_server, the user passes a .yaml file containing all the necessary data as an argument. So something like that, loading the desired map into Foxglove.

That is useful when repeatedly visualizing data from the robot that is interacting with the same static environment.

[2022-05-12 14:28] ccpowers commented on #3303
Roman:
 Expand all is nice, but not as nice as keeping the subset expanded. Also, sometimes i'm trying to see things (for instance, headers on laser scans) that are really annoying to expand all on, since the messages may have pieces that are very large / not human interpretable.

I think auto expanding certain fields could be a good solution. Might actually make sense to go with expanding everyth

[2022-05-12 21:56] jtbandes commented on #3345
Duplicate of https://github.com/foxglove/studio/issues/1273 ?

[2022-05-12 21:59] jtbandes commented on #3341
This will be something to address in the new 3D panel.

[2022-05-12 21:59] gayar-helm commented on #2410
This could a very useful feature. Our use case is that the image is published together with some meta information. e.g:

my_image_msg_type
{
    meta_msg msg
    sensor_msgs/Image image
}

Would it be possible to specify something like "my_msg.image" at the top of image panel? Just like described here - https://github.com/foxglove/studio/issues/2410#issuecomment-999082740

[2022-05-12 22:15] defunctzombie commented on #3283
@foxymiles Whats the next step here? I noticed an attempt at this in #3314 but that didn't work because it was applying too broadly. Is there a fix here that should be specific to point clouds?

@jhurliman it looks like this broke in #2986 - what do you think should be done to fix this?

[2022-05-13 00:03] foxymiles commented on #3283
@defunctzombie Seems like there are people that understand this code much better than I do and have ideas on how it should be fixed so I'm probably not the best person to take this one up.

[2022-05-13 02:00] jhurliman commented on #3345
Closing as duplicate of #1273

[2022-05-13 02:00] #3345 closed

[2022-05-13 11:51] #2722 closed

[2022-05-13 15:30] foxymiles opened #3359 "Seeking beyond file time limits is allowed for mcap files with experimental player"
**Description**
Looks like we're not clamping the seek time within the bounds of the file with the experimental player.

- Version: 1.10.1
- OS: macOS

**Steps To Reproduce**

1. Enable experimental MCAP player
2. Open a local mcap file
3. Keep clicking the back seek button

**Expected Behavior**
Seeking is clamped to the beginning of the file.

**Actual Behavior**
You can seek too far.

https://u

[2022-05-13 16:13] defunctzombie opened #3361 "seek backfill for experimental mcap player"

[2022-05-13 17:35] jhurliman commented on #3283
I can take this one. Timestamp handling in Old3D is very brittle right now, hopefully I can come up with a surgical fix for this specific issue without additional side effects.

[2022-05-13 18:02] #3282 closed

[2022-05-13 18:02] #3303 closed

[2022-05-13 18:04] foxymiles commented on #3303
@ccpowers I've added something along the lines you suggested. In the panel settings there's now an `Auto expand` setting. You can set this to "all" to completely expand all message fields or to "auto" to expand all but the large arrays.

<img width="462" alt="Screen Shot 2022-05-13 at 10 39 09 AM" src="https://user-images.githubusercontent.com/93935560/168341713-01b75ab9-9572-4654-9060-4a878519f5d

[2022-05-13 19:07] defunctzombie commented on #800
https://github.com/foxglove/studio/pull/3364 Allows users to select their own tile theme. I think if we want to do this we can add light and dark options to the map tile layer dropdowns and default to match the theme. This lets users easily override if they prefer a different contrast.

[2022-05-13 19:09] defunctzombie commented on #3182
@jessicaaustin We've fixed some more c++ peering issues in 1.10.1. Please give that a try and see if you have more success with connectivity.

[2022-05-13 19:10] defunctzombie commented on #3341
Is this not easy to fix with the current 3d panel?

[2022-05-13 19:18] jhurliman commented on #959
This has been resolved by moving all the Data Source Info panel data into the connection sidebar, making this panel redundant.

[2022-05-13 19:18] jhurliman opened #3365 "Deprecate the Data Source Info panel"

[2022-05-13 19:19] #959 closed

[2022-05-13 22:55] #3359 closed

[2022-05-13 23:39] defunctzombie commented on #3365
@jhurliman What's the thinking for this. Maybe jot some reasoning down in the description or some pro/cons?

[2022-05-13 23:57] jessicaaustin commented on #3096
Confirmed this does work: both the ros1-chatter example, and publishing via Studio v1.11.0. Thank you! :pray:

[2022-05-14 00:15] defunctzombie commented on #2410
Yep. Need to think through how we accomplish this in the implementation but I think the UX described above with a dropdown that supports selecting any topic or field that contains a matching datatype seems sensible.

[2022-05-14 02:16] liamreneroy opened #3369 "Feature Request - Publish Point / Publish Pose Persist with Saved Layout"
Feature Request - Publish Point / Publish Pose Persist with Saved Layout

Hi guys, I think this would be a nice UX feature that is likely a super easy thing to do.

In the 3D layout, you can hold right-click the "publish point" and change it to "publish pose".
See attached photo.

As of now, if you change it from pub point to pub pose, and then save the layout, when you re-open FloxGlove studio, y

[2022-05-14 03:09] liamreneroy commented on #3287
Hey guys! Thanks for attempting to resolve this issue. With the newest version of FoxGlove (1.10.1) I can get my robot moving in my Gazebo sim. Good stuff!

One issue still persists.. the Teleop buttons only seem to work half the time when I re-open a saved FoxGlove layout containing a TeleOp panel publishing to /cmd_vel.

A fix is if I open the TeleOp panel settings, and toggle the selected topic

[2022-05-14 14:30] defunctzombie commented on #3353
What happens when that static environment changes over time? In my experience even mapped static environments undergo some changes (i.e. re-mapping).

[2022-05-14 14:34] defunctzombie commented on #2135
Added this to the new3d panel tasks for discussion.

[2022-05-14 14:44] defunctzombie commented on #3251
Summarizing our discussion we had in person about this. The challenge here is that chart.js computes these tick labels automatically and since these are plots in two separate panels we'd need to have away to synchronize the gutter.

While we do have a way to synchronize the hover values (because thats a common part of the app), we don't have anything specific to gutters or other bespoke elements o

[2022-05-14 14:54] defunctzombie commented on #2999
What's the status of this? Its been assigned for a while with no activity.

[2022-05-14 14:56] defunctzombie commented on #3193
My main concerns from this have been addressed. The experience is better. I still think there's room to improve the density of the sidebar but that is lower priority.

[2022-05-14 14:56] #3193 closed

[2022-05-14 14:57] defunctzombie commented on #3118
If you are offline then they should be queued. If you are online we should perform the operation faster than the "slow" sync window.

[2022-05-15 01:13] defunctzombie commented on #2156
@esthersweon Is there anything outstanding to do here? I think we've tackled any relevant items as we've iterated on the code.

[2022-05-15 02:47] defunctzombie commented on #1964
Closing this. The experimental console player does preloading. There's improvements that need to be made there but preloading itself is implemented. I don't want to cut over to the experimental player until I do some better buffering.

[2022-05-15 02:47] #1964 closed

[2022-05-15 02:47] defunctzombie commented on #1962
The experimental data platform player supports seeking while paused.

[2022-05-15 02:47] #1962 closed

[2022-05-15 02:49] defunctzombie opened #3371 "Add SubscriptionPreload options to extension subscriber api"
The current subscribe api behavior for extensions uses the `full` preload option for all subscriptions (https://github.com/foxglove/studio/blob/main/packages/studio-base/src/players/types.ts#L270) since that is the default if nothing is specified (for backwards compat). This produces undesirable over-fetching of messages for panels which only need the current message (i.e. 3d panel).

Expose subsc

[2022-05-15 20:43] jeffmaldo27 commented on #2792
+1 on the ability to load layout from a file like `&layout.url=https://example.org/mylayout.json`

[2022-05-16 03:58] jessicaaustin commented on #3182
@defunctzombie Still seeing the issues with the latest version of studio (1.11.0). But I think I've found something, see below.

I double-checked ROS_MASTER_URI and ROS_HOSTNAME on both sides.
For example, I have a single terminal with all these env vars, and I either run:

    examples/ros1-chatter$ yarn start  # to publish via foxglove/ros1

or

    rostopic pub /chatter std_msgs/String "data: '

[2022-05-16 13:26] foxymiles commented on #2999
Here's the current script. When I convert nuscenes and play the converted file it looks a bit strange to me like parts of the scene are out of sync with each other. @jhurliman Does this look like it should be doing what we expect?

[code]

[2022-05-16 15:23] defunctzombie opened #3374 "Update map panel settings to show error when custom url is malformed"
**Description**
When a user enters a custom tile url in map panel settings, we should show an error if we consider the URL malformed.

Blocked on: https://github.com/foxglove/studio/pull/3373

[2022-05-16 17:47] foxymiles opened #3375 "Error: new playerState was emitted before last playerState was rendered"
**Description**
This error occurs sometimes when changing layouts or data sources.

[code]

- Version: 1.11
- OS: macOS

**Steps To Reproduce**
Rapidly switch among different layouts.

**Expected Behavior**
No error should arise.

**Actual Behavior**
This exception is thrown.